.f-ml5 {
  margin-left: 5px;
}
.f-mr5 {
  margin-right: 5px;
}
.f-mt5 {
  margin-top: 5px;
}
.f-mb5 {
  margin-bottom: 5px;
}
.f-ml20 {
  margin-left: 20px;
}
.f-mr20 {
  margin-right: 20px;
}
.f-mt20 {
  margin-top: 20px;
}
.f-mb20 {
  margin-bottom: 20px;
}
.f-ml50 {
  margin-left: 50px;
}
.f-mr50 {
  margin-right: 50px;
}
.f-mt50 {
  margin-top: 50px;
}
.f-mb50 {
  margin-bottom: 50px;
}
