.f-ml5 {
  margin-left: 5px;
}
.f-mr5 {
  margin-right: 5px;
}
.f-mt5 {
  margin-top: 5px;
}
.f-mb5 {
  margin-bottom: 5px;
}
.f-ml20 {
  margin-left: 20px;
}
.f-mr20 {
  margin-right: 20px;
}
.f-mt20 {
  margin-top: 20px;
}
.f-mb20 {
  margin-bottom: 20px;
}
.f-ml50 {
  margin-left: 50px;
}
.f-mr50 {
  margin-right: 50px;
}
.f-mt50 {
  margin-top: 50px;
}
.f-mb50 {
  margin-bottom: 50px;
}
a:hover,
a:focus {
  color: #0C5FC5;
  text-decoration: none;
}
label {
  font-weight: 500;
}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 12px;
}
.label {
  display: inline-block;
  border-radius: 0;
  line-height: normal;
  font-weight: 500;
  font-size: 13px;
  padding: 4px 10px;
  min-width: 90px;
}
.form-w {
  width: 560px;
}
.form-w2 {
  width: 150px !important;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
input.form-file {
  position: relative;
  display: inline-block;
}
.lc-list-1 ul {
  padding: 0;
  margin: 0;
}
.lc-list-1 li {
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
  list-style: none;
}
.lc-list-1 .meta {
  height: 40px;
}
.lc-list-1 .meta span {
  margin-right: 10px;
}
.lc-list-1 .media-left {
  padding-right: 35px;
}
.lc-list-1 .media-left img {
  width: 150px;
  height: 150px;
}
.lc-list-1 .media-heading {
  font-size: 24px;
  font-weight: 700;
}
.lc-list-1 .media-heading a {
  color: #333;
}
.lc-list-1 .media-heading a:hover {
  color: #0C5FC5;
}
.lc-list-1 .price {
  color: #666;
}
.lc-list-1 .price span {
  font-size: 24px;
  color: #0C5FC5;
}
.lc-list-2 {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.lc-list-2 ul {
  padding: 0;
  margin: 0;
  width: 975px;
  overflow: hidden;
}
.lc-list-2 li {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  margin-right: 25px;
  margin-bottom: 25px;
  list-style: none;
}
.lc-listItem {
  position: relative;
  width: 100%;
  height: 100%;
}
.lc-listItem span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.lc-listItem img {
  display: block;
  width: 100%;
  height: 100%;
}
.lc-listItem .cnt {
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 95, 197, 0.5);
}
.lc-listItem .cnt .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  color: #fff;
  text-align: center;
}
.lc-listItem .cnt .inner h2 {
  font-size: 22px;
  font-weight: 700;
}
.lc-listItem .cnt .inner .price {
  font-style: normal;
  font-size: 24px;
}
.lc-list-3 ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.lc-list-3 li {
  float: left;
  width: 48.75%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  list-style: none;
}
.lc-list-3 li:nth-child(odd) {
  margin-left: 0;
}
.lc-list-3 .media {
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  padding: 20px;
}
.lc-list-3 .media-left {
  padding-right: 30px;
}
.lc-list-3 .media-heading {
  margin-bottom: 15px;
}
.lc-list-3 .media-heading a {
  color: #000;
  font-weight: 700;
}
.lc-list-3 .media-heading .label {
  margin-left: 10px;
  border-radius: 24px;
}
.lc-list-3 .media-foot {
  margin-top: 20px;
  color: #777;
}
