.f-ml5 {
  margin-left: 5px;
}
.f-mr5 {
  margin-right: 5px;
}
.f-mt5 {
  margin-top: 5px;
}
.f-mb5 {
  margin-bottom: 5px;
}
.f-ml20 {
  margin-left: 20px;
}
.f-mr20 {
  margin-right: 20px;
}
.f-mt20 {
  margin-top: 20px;
}
.f-mb20 {
  margin-bottom: 20px;
}
.f-ml50 {
  margin-left: 50px;
}
.f-mr50 {
  margin-right: 50px;
}
.f-mt50 {
  margin-top: 50px;
}
.f-mb50 {
  margin-bottom: 50px;
}
.f-mb5 {
  margin-bottom: 5px;
}
.f-mb10 {
  margin-bottom: 10px;
}
.f-mb15 {
  margin-bottom: 15px;
}
.f-mb20 {
  margin-bottom: 20px;
}
.f-mb25 {
  margin-bottom: 25px;
}
.f-mb30 {
  margin-bottom: 30px;
}
.f-pt5 {
  padding-top: 5px;
}
.f-pb5 {
  padding-bottom: 5px;
}
.f-pl5 {
  padding-left: 5px;
}
.f-pr5 {
  padding-right: 5px;
}
.f-pt5 {
  padding-top: 5px;
}
.f-pb5 {
  padding-bottom: 5px;
}
.f-pl5 {
  padding-left: 5px;
}
.f-pr5 {
  padding-right: 5px;
}
.f-pt10 {
  padding-top: 10px;
}
.f-pb10 {
  padding-bottom: 10px;
}
.f-pl10 {
  padding-left: 10px;
}
.f-pr10 {
  padding-right: 10px;
}
.f-pt15 {
  padding-top: 15px;
}
.f-pb15 {
  padding-bottom: 15px;
}
.f-pl15 {
  padding-left: 15px;
}
.f-pr15 {
  padding-right: 15px;
}
.f-pt20 {
  padding-top: 20px;
}
.f-pb20 {
  padding-bottom: 20px;
}
.f-pl20 {
  padding-left: 20px;
}
.f-pr20 {
  padding-right: 20px;
}
.f-pt30 {
  padding-top: 30px;
}
.f-pb30 {
  padding-bottom: 30px;
}
.f-pl30 {
  padding-left: 30px;
}
.f-pr30 {
  padding-right: 30px;
}
.f-pt40 {
  padding-top: 40px;
}
.f-pb40 {
  padding-bottom: 40px;
}
.f-pl40 {
  padding-left: 40px;
}
.f-pr40 {
  padding-right: 40px;
}
.f-p5 {
  padding: 5px;
}
.f-p10 {
  padding: 10px;
}
.f-p15 {
  padding: 15px;
}
.f-p20 {
  padding: 20px;
}
.f-p30 {
  padding: 30px;
}
.f-p40 {
  padding: 40px;
}
.f-br {
  border-right: 1px solid #ddd;
}
