/*====== reset ======*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a{ color: #333;}

/*====== function ======*/
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-mb20{margin-bottom: 20px;}

/*====== 站点重置 ======*/
html, body{ font-family: '微软雅黑'; font-size: 16px;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
a:hover{ text-decoration: underline;}
body{background-color: #fafafa;}

/* 统一清除浮动 */
.m-list:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:'.';}
.m-list{zoom:1;}

/*====== 布局 ======*/
.g-wrap{width:1130px;margin-left: auto; margin-right: auto;}
.g-wrap2{width:950px;margin-left: auto; margin-right: auto;}
.g-mn{width: 1000px;float: left;}
.g-sd{width: 130px;float: right;}

/*====== 模块 ======*/
/* 头部导航 */
.m-hd{ display: none; position: fixed; z-index: 9; width: 100%; height: 49px; border-bottom: 1px solid #dcdcdc; background-color: #fff;}
.m-hd h1{ float: left;}
.m-hd h1 .text{ position: absolute; text-indent: -9999px;}
.m-hd h1 a{ position: absolute; top: 8px; width: 90px; height: 33px;}
.m-hd ul{ float: right;}
.m-hd li{ float: left; }
.m-hd li a{ display: block; padding:0 20px; line-height: 49px;}
.m-hd .login{ position: absolute; top: 0; right: 50px; line-height: 49px; color: #999;}
.m-hd .login a{ color: #999;}
.m-hd .z-crt a{ color: #3499cd;}
/* 头部导航扩展 */
.m-hd-1{ display: block; position: relative;}

/* 侧边导航 */
.m-navSd{ position: fixed; z-index: 9; top: 50%; right: 50px; margin-top: -52px; cursor: pointer;}
.m-navSd li{ width: 14px; height: 14px; margin-bottom: 10px; border: 1px solid #91dfea; border-radius: 50%;}
.m-navSd li:hover, .m-navSd .z-crt{ border-color: #0a8ecf; background-color: #0a8ecf;}

/* 底部 */
.m-ft{ height: 180px; background-color: #292e39; color: #fff; text-align: center;}
.m-ft a{ color: #fff;}
.m-ft p{ margin-bottom: 14px;}
.m-ft .concat{ padding: 28px 0;}
.m-ft .concat ul{ display: inline-block;}
.m-ft .concat li{float: left; width: 37px; height: 37px; margin-right: 17px;}
.m-ft .concat .qq{background: url(../img/bg-qq.png) no-repeat;}
.m-ft .concat .wx{ margin-right: 0; background: url(../img/bg-wx.png) no-repeat;}

/* 导航 */
.m-nav{ position: relative; width: 950px; height: 70px;}
.m-nav ul{ float: left; width: 685px; background-color: rgba(0,0,0,.7);}
.m-nav li{ float: left; width: 137px;}
.m-nav a{ color: #fff;}
.m-nav li a{ display: block; width: 137px; height: 70px; line-height: 70px; text-align: center;}
.m-nav .rz{ float: left; display: block; width: 265px; height: 70px; line-height: 70px; text-align: center; background-color: #098ece;}
.m-nav .line{ position: absolute; bottom: 0; left: 26px; width: 84px; height: 4px; background-color: #098ece;}

/* 列表 */
.m-list{ font-size: 12px; margin-left: -10px;}
.m-list li{ float: left; width: 230px; height: 200px; margin-left: 10px; background-color: #fff;}
.m-list li a{ display: block; color: #333;}
.m-list .pic{ display: block;}
.m-list .tit{ margin: 5px 0 15px; overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.m-list .bd{ height: 60px; padding: 10px 10px 0;}
/* 列表扩展2 */
.m-list-2{ width: 880px; margin-left: 0;}
.m-list-2 li{ width: 220px; padding: 20px 0; margin-left: 0; text-align: center;}
.m-list-2 .pic{ margin: 0 auto; border-radius: 50%;}
.m-list-2 .tit{ margin: 16px 0 6px; font-weight: bold;}
.m-list-2 .bd{ height: auto; padding: 0;}
.m-list-2 .bd p{font-size: 12px; margin-bottom: 10px;}
/* 列表扩展3 */
.m-list-3{ margin-left: -16px;}
.m-list-3 li{ width: 270px; height: auto; margin-left: 16px; background-color: transparent;}
.m-list-3 .bd{ padding: 0; height: auto;}
.m-list-3 .tit{ margin: 22px 0;}
.m-list-3 .tit a{ font-size: 14px; color: #fff;}
.m-list-3 .pic{ border: 1px solid transparent;}
.m-list-3 .pic:hover{ border: 1px solid #0a8fcf;}
/* 列表扩展4 */

/* 图文信息列表 */
.m-picTextList{}
.m-picTextList .item{ padding-bottom: 10px; margin-bottom: 10px; overflow: hidden; border-bottom: 1px dotted #cecece;}
.m-picTextList .pic{float: left; margin-right: 10px;}
.m-picTextList .text{}
.m-picTextList .tit{ font-size: 18px; font-weight: bold;}
.m-picTextList .date{ padding: 16px 0 10px; color: #585858; font-size: 14px;}
.m-picTextList .cnt{ line-height: 24px; color: #585858; font-size: 14px;}
.m-picTextList .item:last-child, .m-picTextList .last{ padding-bottom: 0; margin-bottom: 0; border-bottom: none;}

/* banner */
.m-banner{ height: 300px; background-color: #101a26;}
.m-banner .cnt{ width: 1130px; height: 300px; position: relative;}
.m-banner .pic li{ position: absolute;}
.m-banner .nav{ position: absolute; bottom: 20px; width: 100%; text-align: center;}
.m-banner .nav li{ display: inline-block; width: 8px; height: 8px; margin:0 2px; border-radius: 50%; cursor: pointer; background-color: #969ba2;}
.m-banner .nav .z-crt{border-color: #0a8ecf; background-color: #0a8ecf;}
.m-banner .prev, .m-banner .next{ position: absolute; top: 50%; width: 37px; height: 63px; margin-top: -31px; background: url(../img/bg-banner.png) no-repeat;}
.m-banner .prev{ left: -47px; background-position: 0 0;}
.m-banner .next{ right: -47px; background-position: 0 -126px;}
.m-banner .prev:hover{ background-position: 0 -63px;}
.m-banner .next:hover{ background-position: 0 -189px;}
.m-banner-1{background: url(../img/bg-bn1.jpg) center no-repeat;}

/* 面包屑 */
.m-crm{ padding: 15px 0; font-size: 14px;}
.m-crm a{ color: #333;}
.m-crm .fg{ padding: 0 5px;}

/* 内容容器 */
.m-box{ padding: 20px; background-color: #fff; box-shadow: 0 1px 1px #e0e0e0;}

/* 内容图文 */
.m-content{}
.m-content h2{ margin-bottom: 20px; font-size: 20px; font-weight: bold;}
.m-content p{ margin-bottom: 20px; font-size: 14px; line-height: 24px;}
.m-content img{ max-width: 100%;}

/*====== 元件 ======*/
.u-br3{border-radius: 3px;}
.u-tag{ padding: 5px 8px; line-height: normal; color: #fff; background-color: #50cb99; border-radius: 3px;}
.u-btn{ display: inline-block; padding: 0 35px; line-height: 48px; border: 1px solid #93e3ec; font-size: 20px; color: #99ccff; text-align: center;}
.u-btn-1{ border-radius: 30px; color: #0099cc; border-color: #0a8fcf;}
.u-btn-2{ line-height: 38px; font-size: 16px; color: #fff; border: 1px solid #fff;}
.u-loadBtn{ display: block;line-height: 36px; font-size: 16px; text-align: center; color: #666; box-shadow: 0 1px 1px #e9e9e9; background-color: #fff;}

/*====== 首页 ======*/
.m-section1{ position: relative; height: 950px; background: url(../img/bg-bg1.jpg) center bottom no-repeat;}
.m-section1 .logo{ padding-top: 230px; padding-bottom: 50px; text-align: center;}
.m-section1 .m-nav{ margin-bottom: 10px;}
.m-section1 .login{ position: absolute; right: 50px; top: 50px; opacity: .5;}

.m-section2{ height: 913px;}
.m-section2 .title{ padding-top: 100px; padding-bottom: 50px; text-align: center;}
.m-section2 .title h2{ padding-bottom: 12px; font-size: 48px; font-weight: bold;}
.m-section2 .title p{ font-size: 18px;}
.m-section2 .tab-panel{ float: left; width: 880px;}
.m-section2 .tab-panel .panel{ display: none; width: 880px;}
.m-section2 .tab-nav{ width: 237px; margin-left: 893px;}
.m-section2 .tab-nav li{ height: 120px; margin-bottom: 2px; background-color: #dadada;text-align: center; font-size: 24px; color: #666; cursor: pointer;}
.m-section2 .tab-nav h3{ padding: 36px 0 10px; font-weight: bold;}
.m-section2 .tab-nav p{ font-size: 14px;}
.m-section2 .tab-nav .z-crt{ position: relative; background-color: #0099cc; color: #fff;}
.m-section2 .tab-nav .z-crt:after{ position: absolute; left: -9px; top: 50%; margin-top: -5px; content: ''; display: block; width:0; height: 0; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-right: 9px solid #0a8fcf;}
.m-section2 .tab-nav li:hover{background-color: #0099cc; color: #fff;}

.m-section3{ height: 986px; background-color: #1c2b4d;}
.m-section3 .title{ padding-top: 100px; padding-bottom: 50px; text-align: center; color: #fff;}
.m-section3 .title h2{ font-size: 30px;}
.m-section3 .m-list{ margin-bottom: 25px;}
.m-section3 .u-btn{ box-sizing: border-box; width: 226px; letter-spacing: 5px;}

.m-section4{ height: 935px;}
.m-section4 .bg{ height: 465px; background: url(../img/bg-bg2.jpg) center bottom no-repeat;}
.m-section4 .title{ padding-top: 125px; padding-bottom: 62px; text-align: center;}
.m-section4 .title h2{ padding-bottom: 12px; font-size: 48px; font-weight: bold;}
.m-section4 .title p{ font-size: 18px;}
.m-section4 .u-btn{ box-sizing: border-box; width: 290px;}

/*====== 关于我们 ======*/
.m-about{}
.m-about .title{ margin-bottom: 30px; font-size: 20px; font-weight: bold;}
.m-about .navSd{ background: url(../img/bg-aboutSd.png) 12px no-repeat;}
.m-about .navSd li{ padding: 0 16px 0 40px; font-size: 18px;}
.m-about .navSd a{ display: block; line-height: 42px;}
.m-about .navSd .z-crt{ background: url(../img/bg-aboutSd-h.png) 8px 12px no-repeat;}

.m-about .js{}
.m-about .dongtai{}
.m-about .fzlc{}
.m-about .fzlc .m-lc{ width: 560px; margin: 0 auto; }
.m-about .fzlc .m-lc li{ position: relative; padding-left: 280px; height: 130px; background: url(../img/bg-fzlc.png) 257px 24px repeat-y;}
.m-about .fzlc .m-lc .no-rep{ background-repeat: no-repeat;}
.m-about .fzlc .m-lc .tit{ margin-bottom: 10px; font-size: 20px; }
.m-about .fzlc .m-lc .date{ font-size: 24px; color: #3e9efe;}
.m-about .fzlc .m-lc .nianf{ position: absolute; left: 0; width: 246px; height: 64px; text-align: right;}
.m-about .fzlc .m-lc .nianf .tag{ display: inline-block; padding:0 10px; min-width: 64px; height: 64px; line-height: 64px; text-align: center; background-color: #36ba71; color: #fff; font-size: 30px;}
.m-about .fzlc .m-lc .nianf .c1{background-color: #faa0c6;}
.m-about .fzlc .m-lc .nianf .c2{background-color: #8ecdf6;}
.m-about .fzlc .m-lc .nianf .c3{background-color: #f9b72a;}
.m-about .fzlc .m-lc .nianf .c4{background-color: #e3cfae;}
.m-about .fzlc .m-lc .nianf .c5{background-color: #ff937c;}
.m-about .fzlc .m-lc .nianf .block{ display: block; text-align: right;}
.m-about .fzlc .m-lc .dian{ position: absolute; left: 253px; bottom: 0; width: 24px; height: 24px; background: url(../img/bg-fzlc-dot.png) no-repeat;}
.m-about .concat .addr{ margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px dotted #cecece; background: url(../img/bg-concat.png) no-repeat;}
.m-about .concat .addr li{ padding-left: 26px; line-height: 36px;}
.m-about .concat .addr .tit{ font-size: 18px; font-weight: bold;}
.m-about .concat .addr.last{ border-bottom: none; padding-bottom: 0; margin-bottom: 0;}
















