.myDialog-Warpper {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, .8);
    z-index: 9;
}

.myDialog {
    width: 300px;
    height: 150px;
    z-index: 99;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tab {
    border: 1px solid #e1e1e1;
    padding: 5px;
    margin: 5px 10px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    float: left;
    cursor: pointer;
    float: left;
}

.tab .tab-del {
    float: right;
    display: none;
    color: #78c5df;
    margin-left: 5px;
    font-size: .8em;
}

.tab:hover {
    border: 1px solid #9ec7ff;
}

.tab:hover .tab-del {
    display: block;
}
