.myDialog-Warpper {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, .8);
    z-index: 9;
}

.myDialog {
    width: 300px;
    height: 150px;
    z-index: 99;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tab {
    border: 1px solid #e1e1e1;
    padding: 5px;
    margin: 5px 10px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    float: left;
    cursor: pointer;
    float: left;
}

.tab .tab-del {
    float: right;
    display: none;
    color: #78c5df;
    margin-left: 5px;
    font-size: .8em;
}

.tab:hover {
    border: 1px solid #9ec7ff;
}

.tab:hover .tab-del {
    display: block;
}

.myRadio{ width:10px; height:10px; padding:2px; -moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; border:1px solid #e1e1e1; cursor:pointer;}
.myRadio span{ background:none; width:10px; height:10px; display:inline-block; -moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; float:left;}
.myRadio:hover{ border:1px solid #349aff;}
.myRadio:hover span{ background:#349aff;}
.myRadio-hover{ border:1px solid #349aff;} 
.myRadio-hover span{background:#349aff;} 

.myCheckBox{ width:10px; height:10px; padding:2px; border:1px solid #e1e1e1; cursor:pointer;}
.myCheckBox span{ background:none; width:10px; height:10px; display:inline-block; float:left;}
.myCheckBox:hover{ border:1px solid #349aff;}
.myCheckBox:hover span{ background:#349aff;}
.myCheckBox-hover{ border:1px solid #349aff;} 
.myCheckBox-hover span{background:#349aff;} 


