.clearfix{ zoom: 1;}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
/*头图*/
.cl-banner {
    width: 100%;
    height: auto;
    overflow: hidden
}

.cl-banner img {
    width: 100%;
    display: block;
    height: auto;
}

/*主体内容*/
.boxS {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.w1200 {
    width: 1200px;
    height: auto;
}

.cl-ty {
    width: 100%;
    line-height: 40px;
    font-size: 18px;
    color: #616161;
    height: 40px;
    border-bottom: solid 1px #e8e8e8;
}

.cl-ty span {
    padding-left: 55px;
    display: block;
    height: 40px;
}

.cl-ty .sp1 {
    background: url(../images/cl-icon1.png) no-repeat 24px center;
}

.cl-ty .sp2 {
    background: url(../images/cl-icon2.png) no-repeat 24px center;
}

.cl-ty .sp3 {
    background: url(../images/cl-icon3.png) no-repeat 24px center;
}

.cl-ty a {
    font-size: 14px;
    color: #949a9a;
    margin-right: 16px;
}

/*我是投资者*/
/*研究报告、行业政策*/
.cl-yz {
    margin-top: 30px;
}

.cl-yz-l {
    width: 588px;
    height: auto;
    border: solid 1px #e8e8e8;
    background: #fff;
}

.cl-tzz-info {
    width: 540px;
    padding: 24px;
    height: 88px;
    background: #fff;
    border-bottom: dashed 1px #e8e8e8;
}

.cl-tzz-info .dv {
    padding-left: 173px;
    padding-right: 24px;
    width: 100%;
    height: 88px;
    left: 0px;
    box-sizing: border-box;
    top: 24px;
}

.cl-tzz-info .dv1 {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #2c2d32;
}

.cl-tzz-info .dv2 {
    width: 100%;
    height: 54px;
    color: #616161;
    line-height: 27px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cl-tzz-list {
    width: 100%;
    height: auto;
}

.cl-tzz-list ul {
    width: 100%;
    padding-bottom: 24px;
}

.cl-tzz-list li {
    width: 235px;
    padding-left: 8px;
    padding-right: 15px;
    background: url(../images/cl-dian.png) no-repeat 0px center;
    float: left;
    margin-left: 24px;
    margin-top: 20px;
    font-size: 15px;
    height: 18px;
    line-height: 18px;
    color: #616161;
}

/*图文广告*/
.cl-tzz-igs {
    z-index: 1;
    margin-top: 30px;
    width: 1200px;
    height: 228px;
}

.cl-tzz-igs a {
    overflow: hidden;
    width: 589px;
    height: 228px;
    display: block;
}

.cl-tzz-igs img {
    width: 589px;
    height: 228px;
    z-index: 1;
    -webkit-transform: scale(1);
    -webkit-transform-origin: top;
    -webkit-transition: all .4s ease-in-out;
    -moz-transform: scale(1);
    -moz-transform-origin: top;
    -moz-transition: all .4s ease-in-out;
    -ms-transform: scale(1);
    -ms-transform-origin: top;
    -ms-transition: all .4s ease-in-out;
    -o-transform: scale(1);
    -o-transform-origin: top;
    -o-transition: all .4s ease-in-out;
}

.cl-tzz-igs .sf {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.cl-tzz-igs div {
    z-index: 2;
    display: none;
    width: 589px;
    height: 228px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: url(../images/cl-shade.png);
}

.cl-tzz-igs div span {
    display: block;
    float: left;
}

.cl-tzz-igs div .sp1 {
    margin-top: 65px;
    width: 100%;
    color: #fff;
    font-size: 36px;
}

.cl-tzz-igs div .sp2 {
    margin-top: 40px;
    width: 290px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    background: #349aff;
    margin-left: 150px;
}

/*优秀项目*/
.cl-yxPro {
    margin-top: 30px;
    background: #fff;
    border: solid 1px #e8e8e8;
}

.cl-yxPro .xmList {
    text-align: left;
    overflow: hidden;
    padding-bottom: 28px;
}

.cl-yxPro .xmList li {
    float: left;
    margin-left: 28px;
    margin-top: 28px;
    padding: 8px;
    border: 1px solid #e4e9ef;
}

.cl-yxPro .xmList li:hover {
    border: 1px solid #25b2da;
}

.cl-yxPro .xmList li a:hover {
    text-decoration: none;
}

.cl-yxPro .xmList p {
    color: #949a9a;
    font-size: 14px;
}

.cl-yxPro .xmList .txt {
    position: relative;
    padding: 10px 0 20px 0;
    line-height: 22px;
}

.cl-yxPro .xmList .txt img {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}

.cl-yxPro .xmList .txt .dz {
    position: absolute;
    right: 0;
    top: 18px;
    display: block;
    width: 100px;
    height: 22px;
    font-size: 14px;
    color: #949a9a;
    text-align: right;
}

.cl-yxPro .xmList .txt .spp {
    width: 96px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    left: 45px;
    top: 18px;
    font-size: 16px;
    color: #2c2d32;
}

.cl-yxPro .mtag {
    padding-bottom: 20px;
}

.cl-yxPro .qx {
    width: 140px;
    height: 50px;
    text-align: center;
    display: block;
    font-size: 22px;
    color: #fff;
    left: -11px;
    top: -1px;
    line-height: 43px;
    background: url(../images/cl-icon4.png) no-repeat;
}

/*立即申报*/
.cl-clear {
    display: block;
    zoom: 1;
}

.cl-clear:after, .cl-clear:before {
    visibility: hidden;
    display: block;
    foncl-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.cl-main {
    width: 1200px;
    margin: 0 auto;
}

.cl-form-container1 .cl-button-box {
    padding: 0;
}

.cl-form-container1 .cl-button {
    width: 140px;
    margin: 0 auto;
}

.cl-pd-td {
    padding: 40px 0 0;
}
.cl-form-box {
    border: #d0d0d0 solid 1px;
    background-color: #ffffff;
}
.cl-form-title-container {
    border-bottom: #f3f3f3 solid 1px;
    height: 52px;
    line-height: 52px;
    padding: 0 40px;
}
.cl-form-title-box {
    display: block;
    border-bottom: #349aff solid 1px;
    float: left;
}

.cl-icon {
    background-size: contain;
    display: block;
    float: left;
}

.cl-icon-title {
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-right: 10px;
    background-image: url(../images/cl/icon-form-title.png);
}

.cl-form-title-w {
    display: block;
    color: #2c2d32;
    font-size: 22px;
    float: left;
}

.cl-line-one {
    overflow: hidden;
    texcl-overflow: ellipsis;
    white-space: nowrap;
}
.cl-form-title-tips {
    color: #939a9a;
    foncl-size: 14px;
    padding-left: 12px;
}
.cl-form-content{
    padding: 0 40px;
}
.cl-ljS{
    font-size: 14px;
    color: #ffad1c;
    background: #fff7ea;
    border: solid 1px #ffd385;
    padding: 30px;
    margin-top: 22px;
    width: 100%;
}

.cl-ljAn{
    width: 100%;
    height: auto;
}
.cl-ljAn .dv{
    width: 720px;
    margin-top: 108px;
    height: 185px;
    float: left;
    margin-left: 199px;
}
.cl-ljAn .dv1{
    width: 360px;
    height: 185px;
    float: left;
    text-align: center;
}

.cl-ljAn .dv1 a{
    font-size: 18px;
    color: #349aff;
    display: block;
    margin-top: 14px;
}
.cl-ljAn .dv1 span{
    font-size: 20px;
    margin-top: 16px;
    color: #2c2d32;
    display: block;
}

.cl-ljBn{
    width: 100%;
    height: auto;
    text-align: center;
}

.cl-ljBn div{
    margin-top: 125px;
    width: 100%;
    text-align: center;
    display: block;
}
.cl-ljBn a{
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    background: #349aff;
}

.cl-ljBn span{
    font-size: 16px;
    color: #616161;
    display: block;
    margin-top: 60px;
    margin-bottom: 36px;
}

/*待办事宜*/
.cl-dbsY{
    height: auto;
}
.cl-dbsY .fv{
    width: 100%;
    height: 250px;
    border:solid 1px #e2e3e3;
    margin-top: 30px;
}
.cl-dbsY .b-d-r{
    border-right: solid 1px #e2e3e3;
}
.cl-dbsY .fv1{
    width: 306px;
    height: 248px;
    background: #f6f6f6;
}
.cl-dbsY .fv1 img{ width: 90px; height: 90px; top: 79px; left: 30px;}
.cl-dbsY .fv1 span{font-size: 24px; color:#616161; top: 79px; left: 136px;}
.cl-dbsY .fv1 a{ padding: 16px; font-size: 16px; color: #fff; border-radius: 4px; left: 136px;top: 117px;}
.cl-dbsY .fv1 .a1{ background: #3d5175;}
.cl-dbsY .fv1 .a2{ background: #cc9f33;}



.cl-dbsY .fv2{
    width: 892px;
    height: 248px;
    background: #fff;
    padding-left: 120px;
}

.cl-dbsY .fv2 div{
    width: 100%;
    padding-right: 15px;
}

.cl-dbsY .fv2 .fv21{
    font-size: 24px;
    height: auto;
    line-height: 30px;
    margin-top: 30px;
    overflow: hidden;
}

.cl-dbsY .fv2 .fv22{
    font-size: 14px;
    color: #616161;
    margin-top: 18px;
    line-height: 22px;
    height: 88px;
    overflow: hidden;
}

.cl-dbsY .fv2 .c1{
    color: #3d5175;
}

.cl-dbsY .fv2 .c2{
    color: #cc9f33;
}
