.clearfix{ zoom: 1;}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
/*头图*/
.cl-banner {
    width: 100%;
    height: auto;
    overflow: hidden
}

.cl-banner img {
    width: 100%;
    display: block;
    height: auto;
}

/*主体内容*/
.boxS {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.w1200 {
    width: 1200px;
    height: auto;
}

.cl-ty {
    width: 100%;
    line-height: 40px;
    font-size: 18px;
    color: #616161;
    height: 40px;
    border-bottom: solid 1px #e8e8e8;
}

.cl-ty span {
    padding-left: 55px;
    display: block;
    height: 40px;
}

.cl-ty .sp1 {
    background: url(../images/cl-icon1.png) no-repeat 24px center;
}

.cl-ty .sp2 {
    background: url(../images/cl-icon2.png) no-repeat 24px center;
}

.cl-ty .sp3 {
    background: url(../images/cl-icon3.png) no-repeat 24px center;
}

.cl-ty a {
    font-size: 14px;
    color: #949a9a;
    margin-right: 16px;
}

/*我是投资者*/
/*研究报告、行业政策*/
.cl-yz {
    margin-top: 30px;
}

.cl-yz-l {
    width: 588px;
    height: auto;
    border: solid 1px #e8e8e8;
    background: #fff;
}

.cl-tzz-info {
    width: 540px;
    padding: 24px;
    height: 88px;
    background: #fff;
    border-bottom: dashed 1px #e8e8e8;
}

.cl-tzz-info .dv {
    padding-left: 173px;
    padding-right: 24px;
    width: 100%;
    height: 88px;
    left: 0px;
    box-sizing: border-box;
    top: 24px;
}

.cl-tzz-info .dv1 {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #2c2d32;
}

.cl-tzz-info .dv2 {
    width: 100%;
    height: 54px;
    color: #616161;
    line-height: 27px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cl-tzz-list {
    width: 100%;
    height: auto;
}

.cl-tzz-list ul {
    width: 100%;
    padding-bottom: 24px;
}

.cl-tzz-list li {
    width: 235px;
    padding-left: 8px;
    padding-right: 15px;
    background: url(../images/cl-dian.png) no-repeat 0px center;
    float: left;
    margin-left: 24px;
    margin-top: 20px;
    font-size: 15px;
    height: 18px;
    line-height: 18px;
    color: #616161;
}

/*图文广告*/
.cl-tzz-igs {
    z-index: 1;
    margin-top: 30px;
    width: 1200px;
    height: 228px;
}

.cl-tzz-igs a {
    overflow: hidden;
    width: 589px;
    height: 228px;
    display: block;
}

.cl-tzz-igs img {
    width: 589px;
    height: 228px;
    z-index: 1;
    -webkit-transform: scale(1);
    -webkit-transform-origin: top;
    -webkit-transition: all .4s ease-in-out;
    -moz-transform: scale(1);
    -moz-transform-origin: top;
    -moz-transition: all .4s ease-in-out;
    -ms-transform: scale(1);
    -ms-transform-origin: top;
    -ms-transition: all .4s ease-in-out;
    -o-transform: scale(1);
    -o-transform-origin: top;
    -o-transition: all .4s ease-in-out;
}

.cl-tzz-igs .sf {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.cl-tzz-igs div {
    z-index: 2;
    display: none;
    width: 589px;
    height: 228px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: url(../images/cl-shade.png);
}

.cl-tzz-igs div span {
    display: block;
    float: left;
}

.cl-tzz-igs div .sp1 {
    margin-top: 65px;
    width: 100%;
    color: #fff;
    font-size: 36px;
}

.cl-tzz-igs div .sp2 {
    margin-top: 40px;
    width: 290px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    background: #349aff;
    margin-left: 150px;
}

/*优秀项目*/
.cl-yxPro {
    margin-top: 30px;
    background: #fff;
    border: solid 1px #e8e8e8;
}

.cl-yxPro .xmList {
    text-align: left;
    overflow: hidden;
    padding-bottom: 28px;
}

.cl-yxPro .xmList li {
    float: left;
    margin-left: 28px;
    margin-top: 28px;
    padding: 8px;
    border: 1px solid #e4e9ef;
}

.cl-yxPro .xmList li:hover {
    border: 1px solid #25b2da;
}

.cl-yxPro .xmList li a:hover {
    text-decoration: none;
}

.cl-yxPro .xmList p {
    color: #949a9a;
    font-size: 14px;
}

.cl-yxPro .xmList .txt {
    position: relative;
    padding: 10px 0 20px 0;
    line-height: 22px;
}

.cl-yxPro .xmList .txt img {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}

.cl-yxPro .xmList .txt .dz {
    position: absolute;
    right: 0;
    top: 18px;
    display: block;
    width: 100px;
    height: 22px;
    font-size: 14px;
    color: #949a9a;
    text-align: right;
}

.cl-yxPro .xmList .txt .spp {
    width: 96px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    left: 45px;
    top: 18px;
    font-size: 16px;
    color: #2c2d32;
}

.cl-yxPro .mtag {
    padding-bottom: 20px;
}

.cl-yxPro .qx {
    width: 140px;
    height: 50px;
    text-align: center;
    display: block;
    font-size: 22px;
    color: #fff;
    left: -11px;
    top: -1px;
    line-height: 43px;
    background: url(../images/cl-icon4.png) no-repeat;
}

/*立即申报*/
.cl-clear {
    display: block;
    zoom: 1;
}

.cl-clear:after, .cl-clear:before {
    visibility: hidden;
    display: block;
    foncl-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.cl-main {
    width: 1200px;
    margin: 0 auto;
}

.cl-form-container1 .cl-button-box {
    padding: 0;
}

.cl-form-container1 .cl-button {
    width: 140px;
    margin: 0 auto;
}

.cl-pd-td {
    padding: 40px 0 0;
}
.cl-form-box {
    border: #d0d0d0 solid 1px;
    background-color: #ffffff;
}
.cl-form-title-container {
    border-bottom: #f3f3f3 solid 1px;
    height: 52px;
    line-height: 52px;
    padding: 0 40px;
}
.cl-form-title-box {
    display: block;
    border-bottom: #349aff solid 1px;
    float: left;
}

.cl-icon {
    background-size: contain;
    display: block;
    float: left;
}

.cl-icon-title {
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-right: 10px;
    background-image: url(../images/cl/icon-form-title.png);
}

.cl-form-title-w {
    display: block;
    color: #2c2d32;
    font-size: 22px;
    float: left;
}

.cl-line-one {
    overflow: hidden;
    texcl-overflow: ellipsis;
    white-space: nowrap;
}
.cl-form-title-tips {
    color: #939a9a;
    foncl-size: 14px;
    padding-left: 12px;
}
.cl-form-content{
    padding: 0 40px;
}
.cl-ljS{
    font-size: 14px;
    color: #ffad1c;
    background: #fff7ea;
    border: solid 1px #ffd385;
    padding: 30px;
    margin-top: 22px;
    width: 100%;
}

.cl-ljAn{
    width: 100%;
    height: auto;
}
.cl-ljAn .dv{
    width: 720px;
    margin-top: 108px;
    height: 185px;
    float: left;
    margin-left: 199px;
}
.cl-ljAn .dv1{
    width: 360px;
    height: 185px;
    float: left;
    text-align: center;
}

.cl-ljAn .dv1 a{
    font-size: 18px;
    color: #349aff;
    display: block;
    margin-top: 14px;
}
.cl-ljAn .dv1 span{
    font-size: 20px;
    margin-top: 16px;
    color: #2c2d32;
    display: block;
}

.cl-ljBn{
    width: 100%;
    height: auto;
    text-align: center;
}

.cl-ljBn div{
    margin-top: 125px;
    width: 100%;
    text-align: center;
    display: block;
}
.cl-ljBn a{
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    background: #349aff;
}

.cl-ljBn span{
    font-size: 16px;
    color: #616161;
    display: block;
    margin-top: 60px;
    margin-bottom: 36px;
}

/*待办事宜*/
.cl-dbsY{
    height: auto;
}
.cl-dbsY .fv{
    width: 100%;
    height: 250px;
    border:solid 1px #e2e3e3;
    margin-top: 30px;
}
.cl-dbsY .b-d-r{
    border-right: solid 1px #e2e3e3;
}
.cl-dbsY .fv1{
    width: 306px;
    height: 248px;
    background: #f6f6f6;
}

.cl-dbsY .fv1 img {
    width: 90px;
    height: 90px;
    top: 79px;
    left: 30px;
}

.cl-dbsY .fv1 span {
    font-size: 24px;
    color: #616161;
    top: 79px;
    left: 136px;
}

.cl-dbsY .fv1 a {
    padding: 16px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    left: 136px;
    top: 117px;
}

.cl-dbsY .fv1 .a1 {
    background: #3d5175;
}

.cl-dbsY .fv1 .a2 {
    background: #cc9f33;
}



.cl-dbsY .fv2{
    width: 892px;
    height: 248px;
    background: #fff;
    padding-left: 120px;
}

.cl-dbsY .fv2 div{
    width: 100%;
    padding-right: 15px;
}

.cl-dbsY .fv2 .fv21{
    font-size: 24px;
    height: auto;
    line-height: 30px;
    margin-top: 30px;
    overflow: hidden;
}

.cl-dbsY .fv2 .fv22{
    font-size: 14px;
    color: #616161;
    margin-top: 18px;
    line-height: 22px;
    height: 88px;
    overflow: hidden;
}

.cl-dbsY .fv2 .c1{
    color: #3d5175;
}

.cl-dbsY .fv2 .c2{
    color: #cc9f33;
}

/*孵化器*/
/* banner */

.d-bs {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.d-bn-box {
    width: 100%;
    height: 202px;
    background: url(../images/d-banner-bg.png) no-repeat center center / 100% 100%;
    margin-bottom: 30px;
}

.d-bn-con {
    width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    font-size: 14px;
    height: 100%;
}

.d-bn-con .d-bn-l {
    padding-top: 20px;
}

.d-bn-con .d-bn-l h2 {
    color: #fff;
    font-size: 32px;
    padding-bottom: 6px;
}

.d-bn-con .d-bn-l p {
    color: #fff;
}

.d-bn-con .d-bn-l .btn-box {
    padding-top: 30px;
}

.d-bn-con .d-bn-l .btn-box .a1 {
    display: block;
    width: 174px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    color: #616161;
    font-size: 20px;
    float: left;
}

.d-bn-con .d-bn-l .btn-box .a2 {
    color: #fff;
    font-size: 16px;
    line-height: 65px;
    margin-left: 23px;
}

.d-bn-con .d-bn-l .btn-box a:hover {
    text-decoration: none;
}

.d-bn-con .d-bn-r {
    overflow: hidden;
    width: 330px;
    background: rgba(44, 45, 50, 0.75);
    color: #fff;
    height: 100%;
    padding: 5px 20px;
}

.d-bn-con .d-bn-r a {
    color: #fff;
}

.d-bn-con .d-bn-r h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    line-height: 53px;
    border-bottom: 1px solid #a7a2a2;
}

.d-bn-con .d-bn-r h4 a {
    font-size: 14px;
    float: right;
}

.d-bn-con .d-bn-r ul li {
    position: relative;
    padding-left: 11px;
}

.d-bn-con .d-bn-r ul li:after {
    content: "·";
    color: #fff;
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.d-bn-con .d-bn-r ul li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 13px;
}

/*content*/
.cl-fhq-tit{width: 1200px; margin: 20px auto 0px; height: 50px; background: #fff;}
.f-all{border-radius: 3px; font-size: 18px; color: #fff; height: 36px; padding: 0 28px; margin-left: 14px; margin-top: 7px; border: none;}
.f-all1{ background: #349aff;}
.f-all2{ background: #666;}
.bor-none{border: none!important;}
.dte{ margin-left: 22px; margin-top: 5px;}
.cl-fhq-con{ padding: 25px 20px 25px 25px; background: #fff; margin-top: 14px; border: solid 1px #d0d0d0;}
.fhq-img{ width:530px; height: 450px; display: block; float: left;}
.cl-fhq-con-con{width: 597px; min-height: 450px; float: left; margin-left: 25px;}
.cl-fhq-con-con .dv1{ width: 100%; height: 70px; border-bottom: solid 1px #d0d0d0;}
.cl-fhq-con-con .dv1 span{ display: block; width: 80%; height: auto; float: left;}
.cl-fhq-con-con .dv1 .sp1{ font-size: 24px; color: #616161; margin-top: 5px;}
.cl-fhq-con-con .dv1 .sp2{ font-size: 12px; color: #919897; font-family: "宋体", Arial; margin-top: 10px;}
.cl-fhq-con-con .dv1 div{ height: 70px; width: auto; right: 0; top: 0;text-align: center; font-size: 14px; color: #616161;}
.cl-fhq-con-con .dv1 div span{ text-align: center; width: 100%; margin-top: 1px;}
.cl-fhq-con-con .dv1 .yrz{ right: 5px; bottom: -90px;}
.cl-fhq-con-con .dv2{ font-size: 20px; margin-top: 20px; height: 22px;}
.cl-fhq-con-con .dv3{ font-size: 16px; margin-top: 14px; height: 18px; color: #616161;}
.cl-fhq-con-con .w75{ width: 75%;}
.cl-fhq-con-con .w100{ width: 100%;}
.cl-fhq-con-con .dv4{ width: 100%; height: 90px; margin-top: 18px; margin-bottom: 6px;}
.cl-fhq-con-con .dv41{ width: 90px; height: 90px; padding-top: 20px; text-align: center; border-radius: 3px; background: #349AFF; color: #fff; font-size: 20px;}
.cl-fhq-con-con .dv42{ /*width: 500px;*/ width: 240px; overflow: hidden; height: 90px; padding-left: 15px;}
.cl-fhq-con-con .dv42 span{line-height: 20px!important; margin-top: 6px; margin-right: 6px; display: inline-block; padding: 0 5px; border: solid 1px #d0d0d0; font-size: 13px; color: #939a9a; height: 20px;}
.cl-fhq-con-con .dv5{ line-height: 22px; width: 100%; height: 22px; margin-top: 14px;font-size: 16px;color: #616161;}
.cl-fhq-con-con .dv5 span{line-height: 20px!important; margin-right: 6px; display: inline-block; padding: 0 5px; border: solid 1px #d0d0d0; font-size: 13px; color: #939a9a; height: 20px;}
.cl-fhq-con-con .dv6{ width: 100%; height: 50px; margin-top: 34px;}
.cl-fhq-con-con .dv6 a{ display: block; width: 100%; height: 50px; border-radius: 3px; background: #349AFF; color: #fff; font-size: 16px; text-align: center; line-height: 50px;}
/*筛选孵化器*/
.cl-fhq-screen{width: 1200px; margin: 22px auto 0px; background: #fff; border: solid 1px #d0d0d0;}
.cl-fhq-screen .dv{width: 100%; box-sizing: border-box; border-top: dashed 1px #d0d0d0;}
.cl-fhq-screen .dv:first-child{ border-top: none;}
.cl-fhq-screen .dv1{ font-size: 18px; line-height: 48px; padding-left: 18px; color: #2c2d32;}
.cl-fhq-screen .dv2{}
.cl-lh64{ line-height: 64px;}
.cl-ml-1{margin-top: 12px; margin-left: 15px;}
.cl-fhq-screen .dv21{ width: 150px; text-align: right;font-size: 16px; color: #616161;}
.cl-fhq-screen .dv22{ width: auto;}
.cl-fhq-screen .dv22 label{ cursor: pointer; box-sizing: border-box; padding-left: 26px; position: relative; margin-top: 24px; font-family: "宋体", Arial; font-size: 14px; color: #616161; display: block; float: left; width: 115px; margin-left: 15px; height: 16px;}
.w1048{ width: 1048px!important;}
.w860{ width: 860px!important;}
.w140{ width: 140px!important;}
.cl-fhq-screen .dv22 label:first-child{ width: 85px;}
.cl-fhq-screen .dv22 label:nth-child(7n+9){ margin-left: 115px;}
.cl-fhq-screen .dv22 label span{ /*display: none!important;*/ position: absolute; z-index: 2; background: url(../images/cl/icon-check.png) no-repeat; display: block; width: 14px; height: 14px; left: 0px; top: 1px;}
.cl-fhq-screen .dv22 label input{ opacity: 0;filter:alpha(opacity=0);-moz-opacity:0;-o-opacity:0;-khtml-opacity:0;position: absolute; z-index: 1; -webkit-appearance: none;  -moz-appearance: none;  -o-appearance: none;  -ms-appearance: none; display: block; width: 14px; height: 14px; left: 0px; top: 1px; }
.cl-fhq-screen .dv22 label input:checked + span{background: url(../images/cl/icon-checked.png) no-repeat;}
.pad-b24{ padding-bottom: 24px;}
.cl-fhq-screen .dv22 .tx{ width: 152px; padding:10px; border-radius: 5px; margin-top: 12px; border: solid 1px #d0d0d0;color: #616161;font-size: 16px;}
.cl-fhq-screen .dv22 .tx:hover{ border: solid 1px #349AFF;}
.mt14{margin-left: 14px;}
.cl-sx{right: 23px; bottom: 11px;}
.cl-sx a{ display: block; width: 140px; text-align: center; line-height: 42px; color: #fff; font-size: 16px; height: 42px; border-radius: 5px; background: #349aff; margin-top: 11px;}
.cl-sx a:hover{ text-decoration: none;}
.mt12{ margin-top: 12px;}
.ml653{ margin-left: 653px;}
.cl-h64{ height: 64px;}
.tjList div{ background: #99ccff; margin-left: 15px; margin-top: 18px; display: inline-block; float: left; height: 28px; padding: 0px 30px 0 10px; line-height: 28px; position: relative;}
.tjList span{ font-size: 16px; color: #fff;}
.tjList a{ position: absolute; display: block; top: 0; right: 0px; width: 28px; height: 28px; background: url(../images/cl/cl-icon-ca.png) no-repeat center;}
.tjList .cl-qk{ display: inline-block; float: left; width: auto;padding: 0px; font-size: 16px; color: #616161; background: none; cursor: pointer; height: 28px; line-height: 28px; margin-top: 18px;}
.pad-b18{ padding-bottom: 18px;}
/*孵化器展示列表*/
.cl-fhq-show{ margin-top: 10px;}
.cl-fhq-show ul{}
.cl-fhq-show li{float: left; cursor: pointer; margin-top: 30px; margin-right: 30px; width: 380px; height: 232px; box-sizing: border-box; border: solid 1px #d0d0d0;}
.cl-fhq-show li:nth-child(3n){ margin-right: 0px;}
.cl-fhq-show li .cl-fhq-rz{ width: 87px; height: 53px; line-height: 43px; font-size: 22px; text-align: center; color: #fff; top: -1px; left: -10px; background: url(../images/cl/cl-fhq-show-jian.png) no-repeat;}
.cl-fhq-show li .cl-fhq-info{box-sizing: border-box; width: 100%; padding: 10px 10px 15px 10px; height: auto; left: 0px; bottom: 0px; background: url(../images/cl/cl-fhq-show-shade.png) repeat;}
.cl-fhq-show li .cl-fhq-info span{ line-height: 19px; width: 100%; display: block; color: #fff; text-align: justify; float: left; margin-top: 3px;}
.cl-fhq-show li .cl-fhq-info .sp1{ font-size: 14px; font-weight: 800;}
.cl-fhq-show li .cl-fhq-info .sp2{ display: none; font-size: 12px;}
.cl-fhq-show li .cl-fhq-tips{ width: auto; max-width: 295px; height: auto; right: 5px;top: 1px; text-align: right;}
.cl-fhq-show li .cl-fhq-tips span{ float: right; margin-top: 8px; background: url(../images/cl/cl-fhq-show-shade.png) repeat; font-size: 12px; color: #fff; padding: 3px 4px; margin-right: 6px;}
.hovernone:hover{ border:solid 1px #d0d0d0!important;}

/*孵化器详情*/
.bg-fff{ background: #fff!important;}
.d-btn-yellow{ display: block; width: 260px; height: 60px; line-height: 60px; margin: 0 auto; background-color: #f08519; border-radius: 5px; -moz-border-radius: 5px; -o-border-radius:5px; color: #fff; font-size: 24px;}
.d-btn-orange{ display: block; width: 230px; height: 44px; line-height: 44px; margin: 40px 0; border-radius: 3px; background-color: #fe974b; text-align: center; color: #fff; font-size: 18px;}
.d-btn-orange:hover{color: #fff!important;}
.w1200{ margin: 0 auto; width: 1200px;}
.d-about-banner img{ width: 100%;}
.d-about h1,.d-about h2,.d-about h3,.d-about h4,.d-about h5{font-weight: normal;}
.d-about{font-family: '微软雅黑';line-height: 1.6; position: relative; padding: 30px 0; overflow: hidden;}
.d-about .d-icon-5{ position: absolute; top: 39px; left: 254px; width: 13px; height: 13px;}
.d-about .left{ float: left; width: 260px;}
.d-about .left .mt{ font-size: 24px; padding-left: 30px; background: url("../images/cl/c-ico2_21.png") no-repeat left center; margin-bottom: 25px;}
.d-about .left .mt2{  background-image: url("../images/cl/c-ico9_01.png") ;}
.d-about .left .mt3{  background-image: url("../images/cl/c-ico10_02.png") ;}
.d-about .left .mc{ width: 230px;}
.d-about .left .mc a{ display: block; height: 30px; line-height: 30px; margin-bottom: 10px; text-align: center; font-size: 14px; color: #616161;}
.d-about .left .mc a.active{ background-color: #349aff; color: #fff;}
.d-about .left .mc a:hover{ background-color: #349aff; color: #fff;}
.d-about .left .mc .d-title{ font-size: 18px; margin-bottom: 10px;}
.d-about .left .d-con p{ margin-bottom: 10px;}
.d-about .left .d-con span{ font-weight: 700; float: left;}

.d-about .right{ margin-top: 22px; *margin-top: 52px; overflow: hidden; border-left: dotted #b6b6b6 1px;}
.d-about .right .d-box{ margin: 0 0px 0px 30px;}
.d-about .right .mt{ padding-bottom: 7px; border-bottom: #b6b6b6 solid 1px; color: #2c2d32; font-size: 18px;}
.d-about .right .mt span{ display: inline-block; width: 714px; vertical-align: middle; padding-left: 20px; font-size: 14px; color: #949a9a;}
.d-about .right .mc{ padding: 15px 0; font-size: 16px; color: #616161;}
.d-about .right .mc p{ margin-bottom: 5px;}

.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f18{ font-size: 18px;}
.f28{ font-size: 28px;}
.f22{ font-size: 22px;}
.f24{ font-size: 24px;}
.f56{ font-size: 56px;}
.fb{ font-weight: bold;}
.fl{ float: left;}
.fr{ float: right;}
.ofh{ overflow: hidden;}

/*孵化器详情-基地总览*/
.more{ color: #349AFF; line-height: 36px;}
.mt45{ margin-top: 45px;}
.cl-fhq-det-jdjs{ color: #616161; padding-top: 10px;}
.mc-img img{ float: left; width: 100%;}
.cl-fhq-det-jdigs img{ width: 297px; height: 162px; float: left; margin-bottom: 15px;}
.cl-fhq-det-jdigs img:nth-child(2){ margin: 0 9px;}
.star-pro{width: 100%; height: auto; padding-top: 10px;}
.star-pro ul{ width: 100%; height: auto;}
.star-pro li{ width: 50%; float: left; box-sizing: border-box; height: 150px; padding-right: 15px;}
.star-pro li:nth-child(1),.star-pro li:nth-child(2){ margin-bottom: 40px;}
.star-pro li .dv{ width: 100%; height: 150px;}
.star-pro li .dv img{ left: 0; top: 0; border: solid 1px #d0d0d0; box-sizing: border-box;}
.star-pro li .dv .sp{ bottom: 1px; line-height: 24px; color: #fff; display: block; height: 24px; padding: 0px 10px; background: url(../images/cl/cl-fhq-show-shade.png) repeat;}
.star-pro li .dv .sp1{ left: 1px;}
.star-pro li .dv .sp2{ right: 240px;}
.star-pro li .dv .fhq-det-info{ width: 100%; height: 150px; padding-left: 210px; box-sizing: border-box;}
.fhq-det-info a{ width: 100%; display: block; color: #616161;}
.fhq-det-info .dv1{ margin-top: 10px;}
.fhq-det-info .dv1 span{ display: inline-block; margin-right: 7px; font-size: 12px; color: #9a9a9a; float: left; border: solid 1px #d3d3d3; height: 20px; line-height: 20px; padding: 0px 5px;}
.fhq-det-info .dv2{ font-size: 12px; color: #616161; }
.fhq-det-info .dv21{margin-top: 10px;}
.fhq-det-info .dv22{margin-top: 5px; padding-left: 61px; height: 60px; line-height: 20px; overflow: hidden; box-sizing: border-box;}
.fhq-det-info .dv22 div{ left: 0px; top: 0px;}
.cl-fhq-det-tit{ width: 100%; height: auto;}
.cl-fhq-det-tit .dv{ width: 100%; height: auto;}
.cl-fhq-det-tit .dv1{ width: 100%; padding-bottom: 6px; padding-top: 20px;}
.cl-fhq-det-tit .dv1 .d1{ width: 100%; font-size: 24px; color: #616161;}
.cl-fhq-det-tit .dv1 .d1 span{ border-left: solid 1px #d0d0d0; font-size: 14px; color: #919897; padding-left: 10px; margin-left: 10px;}
.cl-fhq-det-tit .dv1 .d2{ color: #919897;}
.cl-fhq-det-tit .dv1 .d3{ height: 63px; width: 110px; right: 0; top: 10px; text-align: center; font-size: 14px; color: #616161;}
.cl-fhq-det-tit .dv1 .d3 span{ text-align: center; width: 100%; margin-top: 1px;display: block;}
.cl-fhq-det-tit .dv1 .d4{ width: auto; height: auto; border-right: solid 1px #d0d0d0; padding-right: 15px; right: 110px; top: 20px; font-size: 20px; color: #616161;}
.cl-fhq-det-tit .dv1 .d4 div{ width: 100%;height: auto; text-align: right;}
.cl-fhq-det-tit .dv1 .d4 span{ display: inline-block; margin-left: 7px; font-size: 12px; color: #9a9a9a; float: right; border: solid 1px #d3d3d3; height: 20px; line-height: 20px; padding: 0px 5px;}
.cl-fhq-det-tit .dv1 .yrz{ left: 50%; margin-left: -75px; top: 50%; margin-top: -42px;}
.cl-fhq-det-tit .dv2{ border-top:solid 1px #d0d0d0; padding-top: 12px;}
.rlBtn{ margin-right: 30px; display: inline-block; text-align: center; color: #fff; float: right; background: #349AFF; border-radius: 5px; line-height: 42px; width: 140px;}
.rlBtn:hover{ color: #fff!important;}
/*政策及服务*/
.fhq-zcfw-lb{ width: 100%; line-height: 36px; border-bottom: solid 2px #717d97; height: 36px;}
.fhq-zcfw-lb a{ display: inline-block; height: 36px; padding: 0px 22px; color: #717d97; font-size: 18px;}
.fhq-zcfw-lb .active{ color: #fff; background: #717d97;}
.fhq-zcfw-con{ margin-top: 15px; color: #616161; display: none;}
.fhq-zcfw-con img{ /*max-width: 100%;*/ width: 100%; margin: 0 auto;}
.cl-show{ display: block;}
/*孵化器档案*/
.fhq-fhq-dan{ width: 100%; height: auto; padding-bottom: 80px; border: solid 14px #ededed;}
.fhq-fhq-dan .y1{ left: -14px; top: -14px;}
.fhq-fhq-dan .y2{ right: -14px; top: -14px;}
.fhq-fhq-dan .y3{ left: -14px; bottom: -14px;}
.fhq-fhq-dan .y4{ right: -14px; bottom: -14px;}
.fhq-fhq-dan .y5{ left: 50%; margin-left: -121px; top: 50px;}
.fhq-fhq-dan .y6{ top: 168px; right: 132px;}
.fhq-fhq-dan .dv{ padding-left: 90px; margin-top: 124px;}
.fhq-fhq-dan .dv1{ font-size: 30px; font-weight: 800; color: #000;}
.fhq-fhq-dan .dv2{ color: #818890; font-size: 14px; margin-top: 15px;}
.fhq-fhq-dan .dv2 span{ color: #000;}
.fhq-fhq-dan .pp1{padding-left: 161px!important; width: 480px!important;}
.fhq-fhq-dan .pp2{left: 90px!important;}
.fhq-fhq-dan .dv3{ color: #000; bottom: 60px; right: 100px; font-style:oblique;}
.h16{ height: 16px; line-height: 16px;}
.h16 span{ float: left;}
.h16 img{ float: left;}
.h16 .ig1{ margin-top: 1px; margin-right: 5px;}
.h16 .ig2{ margin-left: 3px;}
.fb0{ color: #1fb0ff!important;}

/*基地动态*/
.fhq-fhq-jddt{ width: 100%; height: auto;}
.y-s-con {
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.y-s-con .y-s-list {
    padding: 40px 0px;
    border-bottom: 1px solid #b6b6b6;
    overflow: hidden;
    font-size: 16px;
    color: #949a9a;
    height: 106px;
}

.y-s-con .y-s-list .img {
    width: 168px;
    height: 106px;
    margin-right: 36px;
}

.y-s-con .y-s-list h2 {
    color: #2c2d32;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.y-s-con .y-s-list h2 i {
    color: #fe6b37;
}

.y-s-con .y-s-list .y-s-cl {
    overflow: hidden;
    padding: 5px 0;
    font-size: 14px;
}

.y-s-con .y-s-list .y-s-cl span {
    display: block;
    margin-right: 45px;
}

.y-s-con .y-s-list .y-s-cl a {
    color: #349AFF;
}

.y-s-con .y-s-list:last-child {
    border-bottom: 0;
}

.y-s-con .y-s-list p {
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    height: 48px;
}

.pbt50{ padding-bottom: 50px;}

/*明星项目列表*/
.star-pro-list{width: 100%; height: auto; padding-top: 10px;}
.star-pro-list ul{ width: 100%; height: auto;}
.star-pro-list li{ width: 100%; float: left; box-sizing: border-box; height: auto; margin-top: 30px; margin-bottom: 10px;}
.star-pro-list li .dv{ width: 100%; height: 150px;}
.star-pro-list li .dv img{ left: 0; top: 0; border: solid 1px #d0d0d0; box-sizing: border-box;}
.star-pro-list li .dv .sp{ bottom: 1px; line-height: 24px; color: #fff; display: block; height: 24px; padding: 0px 10px; background: url(../images/cl/cl-fhq-show-shade.png) repeat;}
.star-pro-list li .dv .sp1{ left: 1px;}
.star-pro-list li .dv .sp2{ right: 710px;}
.star-pro-list li .dv .fhq-det-info1{ width: 100%; height: 150px; padding-left: 210px; box-sizing: border-box;}
.fhq-det-info1 a{ width: 100%; display: block; color: #616161;}
.fhq-det-info1 .dv1{ width: 100%; margin-top: 10px;}
.fhq-det-info1 .dv2{ width: 100%; color: #616161; }
.fhq-det-info1 .dv21{margin-top: 10px;}
.fhq-det-info1 .dv21 span{ display: inline-block; margin-top: 3px; margin-right: 7px; font-size: 12px; color: #9a9a9a; float: left; border: solid 1px #d3d3d3; height: 20px; line-height: 20px; padding: 0px 5px;}
.fhq-det-info1 .dv22{margin-top: 10px; padding-left: 92px; height: 110px; line-height: 22px; overflow: hidden; box-sizing: border-box;}
.fhq-det-info1 .dv22 div{ left: 0px; top: 0px;}
.cl-load-more{width: 100%; text-align: center; padding: 60px 0px;}
.cl-load-more a{ padding: 10px 20px; color: #2c2d32; border-radius: 5px; border: solid 1px #2c2d32;}
/*申请入驻*/
.w200{ width: 200px;}
.w140{ width: 140px;}
.t-input-160{ width: 160px;}
.mr0{ margin-right: 0px!important;}
.cl-color-93{ color: #939a9a!important;}
.op0{ opacity: 0; fill-opacity: 0;}
.cl-d-proList{ width: 400px!important;}
.cl-d-proList-d{width: 390px; height: 125px; background: #f6f6f6; border: solid 1px #d0d0d0; border-radius: 5px; margin-bottom: 20px;}
.cl-d-proList-d:last-child{ margin-bottom: 0px;}
.cl-cao{ display: block; width: 18px; height: 18px; background: url(../images/cl/cl-icon-cao.png) no-repeat; top: 18px; right: 18px;}
.cl-cao1{ width: 80px; height: 86px;border: solid 1px #d0d0d0; border-radius: 5px; top: 19px; left: 18px;}
.cl-cao1 div{ width: 100%; height: 86px;}
.cl-cao1 div img{ border-radius: 5px;}
.cl-cao1 div span{ display: block; line-height: 18px; width: 100%; text-align: center; font-size: 12px; color: #fff; background: #349AFF; left: 0; bottom: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.cl-cao2{ width: 225px; left: 120px; top: 7px; font-size: 18px; color: #2c2d32;}
.cl-cao3{ width: 225px; left: 120px; top: 46px; overflow: hidden; height: 48px; line-height: 16px; color:#616161 }
.cl-cao-name{color: #939a9a; line-height: 20px; margin-top: 10px; text-align: center;}
.mrt40{ margin-right: 40px;}
.t-input-640{ width: 640px;}
.cl-cnmb{color: #939a9a; right: 0px; top: 30px;}
.pb666{ padding: 55px 0px!important;}

.cl-fhq-ckck{text-align: center; width: 100%; height: 16px; margin-top: 60px;}
.cl-fhq-ckck .dv22 label {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 26px;
    position: relative;
    line-height: 16px;
    font-size: 14px;
    color: #616161;
    display: block;
    height: 16px;
}
.cl-fhq-ckck .dv22 label span{ /*display: none!important;*/ position: absolute; z-index: 2; background: url(../images/cl/icon-check.png) no-repeat; display: block; width: 14px; height: 14px; left: 376px; top: 1px;}
.cl-fhq-ckck .dv22 label input{ opacity: 0;filter:alpha(opacity=0);-moz-opacity:0;-o-opacity:0;-khtml-opacity:0;position: absolute; z-index: 1; -webkit-appearance: none;  -moz-appearance: none;  -o-appearance: none;  -ms-appearance: none; display: block; width: 14px; height: 14px; left: 376px; top: 1px; }
.cl-fhq-ckck .dv22 label input:checked + span{background: url(../images/cl/icon-checked.png) no-repeat;}
.w910{ width: 910px!important;}
.hovn:hover{ color: #fff!important;}
/*上传孵化器*/
.caocaocaa{font-size: 14px; right: 0px; top: 25px; color: #fe6b37;}
.eceded{ background: #eceded;}
.pdt0{ padding-top: 0!important;}
.gg-back{color: #fff; line-height:36px; margin-top: 8px; background: #349AFF; padding: 0px 30px; border-radius: 5px;}
.cl-dtb{padding: 0 15px 0px 40px!important;}
.cl-h22{ line-height: 22px;}
.mt125{ margin-top: 125px;}
.w750{ width: 750px!important;}
.cl-fhq-show-ts{width: 100%; text-align: center;color: #616161; margin-top: 30px;}
.cl-address-tj{ width: auto;}
.cl-address-tj .dv22{ width: 100%; height: auto;}
.cl-address-tj .dv22 label {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 26px;
    position: relative;
    line-height: 16px;
    font-size: 14px;
    color: #616161;
    display: block;
    height: 16px;
    float: left;
    width: 125px;
    margin-top: 13px;
    text-align: left;
}
.cl-address-tj .dv22 label span{ /*display: none!important;*/ position: absolute; z-index: 2; background: url(../images/cl/icon-check.png) no-repeat; display: block; width: 14px; height: 14px; left: 6px; top: 1px;}
.cl-address-tj .dv22 label input{ opacity: 0;filter:alpha(opacity=0);-moz-opacity:0;-o-opacity:0;-khtml-opacity:0;position: absolute; z-index: 1; -webkit-appearance: none;  -moz-appearance: none;  -o-appearance: none;  -ms-appearance: none; display: block; width: 14px; height: 14px; left: 6px; top: 1px; }
.cl-address-tj .dv22 label input:checked + span{background: url(../images/cl/icon-checked.png) no-repeat;}
.w910{ width: 910px!important;}
.hovn:hover{ color: #fff!important;}

.cl-labs{width: 750px;}
.cl-labs span{ cursor: pointer; margin-bottom: 5px; margin-left: 18px; display: inline-block; float: left; height: 38px; border: solid 1px #d0d0d0; background: #f3f3f3; line-height: 38px; padding: 0px 8px; font-size: 16px; color: #939a9a; border-radius: 5px;}
.cl-labs span i{ display: block; width: 15px; height: 15px; right: -6px; top: -6px; background:url(../images/cl/cl-edit-cha.png) no-repeat;}
.cl-add-labs{ margin-bottom: 5px; display: inline-block;float: left; width: 110px; height: 38px; border: solid 1px #d0d0d0; background: #f3f3f3; line-height: 38px; padding: 0px 8px; font-size: 16px; color: #349aff; border-radius: 5px;}
.cl-add-labs a{ border-radius: 5px; left: 0; top: 0; z-index: 2; color: #349AFF; text-align: center; display: block; width: 100%; height: 38px;}
.cl-add-labs a:hover{ color: #349AFF; text-decoration: none;}
.cl-add-labs input{ border-radius: 5px; display:none; padding: 10px; left: 0; top: 0; font-size: 16px; z-index: 1; width: 100%; border: none; background: #f3f3f3;}

/*孵化器认领*/
.marg-bt20{ margin-bottom: 20px;}
.marg-ri20{ margin-right: 20px!important;}
.cl-ckckc{text-align: center; width: 100%; height: 16px;}
.cl-ckckc .dv22 label {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 26px;
    position: relative;
    line-height: 16px;
    font-size: 16px;
    color: #616161;
    display: block;
    height: 16px;
}
.cl-ckckc .dv22 label span{ /*display: none!important;*/ position: absolute; z-index: 2; background: url(../images/cl/icon-check.png) no-repeat; display: block; width: 14px; height: 14px; left: 66px; top: 1px;}
.cl-ckckc .dv22 label input{ opacity: 0;filter:alpha(opacity=0);-moz-opacity:0;-o-opacity:0;-khtml-opacity:0;position: absolute; z-index: 1; -webkit-appearance: none;  -moz-appearance: none;  -o-appearance: none;  -ms-appearance: none; display: block; width: 14px; height: 14px; left: 66px; top: 1px; }
.cl-ckckc .dv22 label input:checked + span{background: url(../images/cl/icon-checked.png) no-repeat;}



/*pages分页*/
.y-pages{padding-top: 55px;text-align: center;}
.y-pages a{display: inline-block;color: #898989;padding: 0 9px;line-height: 13px;}
.y-pages a:hover{text-decoration: none;}
.y-pages a.no:hover{/*background: #fff;*/color: #898989; background: none;}
.y-pages a.active{color: #349aff;}
.y-pages a.active:hover{background: transparent;color: #898989;}
.y-pages a:hover{background: #349aff;color: #fff;padding-top: 2px;padding-bottom: 2px;}
.y-pages a.previous, .y-pages a.next{width: 73px;height: 29px;line-height: 29px;border: 1px solid #d0d0d0;background: #fff;border-radius: 5px;padding: 0;color: #616161;font-size: 12px;background:#ffffff url(../images/y-ico3.png) no-repeat 10px center;text-indent: 10px;}
.y-pages a.next{background:#ffffff url(../images/y-ico4.png) no-repeat 55px center;text-indent: -10px;}


/*上一版表单*/

.t-clear {
    display: block;
    zoom: 1;
}

.t-clear:after, .t-clear:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.t-main {
    width: 1200px;
    margin: 0 auto;
}


/*表单*/
.t-form-box {
    border: #d0d0d0 solid 1px;
    background-color: #ffffff;
}

.t-form-box-l {
    width: 840px;
    float: left;
}

.t-form-box-r {
    width: 320px;
    float: right;
}

.t-form-title-container {
    border-bottom: #f3f3f3 solid 1px;
    height: 52px;
    line-height: 52px;
    padding: 0 40px;
}

.t-form-title-box {
    display: block;
    border-bottom: #349aff solid 1px;
    float: left;
}

.t-icon {
    background-size: contain;
    display: block;
    float: left;
}

.t-icon-title {
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-right: 10px;
    background-image: url(../images/cl/icon-form-title.png);
}

.t-form-title-w {
    display: block;
    color: #2c2d32;
    font-size: 22px;
    float: left;
}

.t-form {
    margin: auto;
    padding: 32px 40px 60px;
}

.t-form-item {
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 16px;
}

.t-form-item-label {
    text-align: right;
    float: left;
    margin-right: 14px;
}

.t-icon-important {
    width: 8px;
    height: 7px;
    background-image: url(../images/cl/icon-important.png);
    float: right;
    margin-top: 14px;
    margin-right: 8px;
}

.t-form-item-lw {
    float: right;
    display: block;
    color: #616161;
}

.t-form-item-con {
    float: left;
    position: relative;
    *z-index: 1;
    zoom: 1;
}

.t-form-input-box {
    /*padding: 10px;*/
    padding: 0px 0px 0px 0px;

    border: #d0d0d0 solid 1px;
    border-radius: 5px;
    float: left;
}

.t-form-input-box input {

    padding: 10px 0px 10px 10px;
    box-sizing: border-box;

    display: block;
    font-size: 16px;
    border: none;
    width: 100%;
    outline: none;
    color: #616161;
    background: none;
}

.t-form-input-box input::-webkit-input-placeholder {
    color: #939a9a;
}

.t-form-item-city {
    *z-index: 2;
}

.t-unit {
    color: #939a9a;
    float: left;
    margin: 0 16px;
}

/*计算结果*/
.t-result-box {
    overflow: hidden;
    zoom: 1;
}

.t-result {
    color: #349aff;
    font-size: 36px;
    background: #f3f9ff;
    text-align: center;
    border: #8dc6ff dashed 1px;
    height: 70px;
    line-height: 70px;
    max-width: 100%;
}

.t-line-one {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t-result-box .t-unit {
    color: #616161;
    font-size: 16px;
    padding-top: 10px;
    margin: 0;
}

.t-button-box {
    padding: 18px 0;
}

.t-button {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.t-button-blue {
    background-color: #349aff;
}

.t-button-yellow {
    background-color: #ffad1d;
}

.t-apply {
    display: none;
}

.t-apply-tips {
    font-size: 14px;
    color: #949a9a;
    padding-bottom: 18px;
    line-height: 20px;
}

.t-yellow {
    color: #ffad1d;
}

.t-blue {
    color: #349aff;
}

.t-pd-td {
    padding: 40px 0 60px;
}

.t-textarea-tips {
    color: #949a9a;
    font-size: 14px;
    display: block;
    line-height: 1.5;
    width: 663px;
    text-align: right;
    margin-top: 10px;
}

.t-dotted-line {
    border-bottom: #d0d0d0 dotted 1px;
    margin-bottom: 20px;
}

.t-form-title-tips {
    color: #939a9a;
    font-size: 14px;
    padding-left: 12px;
}

.t-fileCon {

}

.mt35{
    margin-top: 35px;
}

.cl-editor{
    line-height: normal!important; width: 700px; height: auto;
}

.fhq-img-del{ border-bottom-right-radius:4px; border-bottom-left-radius:4px;  background:rgba(0,0,0,.2); position:absolute; bottom:0; left:0; z-index:1;}
.cl-bdbd{border: #d0d0d0 solid 1px!important;border-radius: 5px!important;;}


.t-input-file {
    width: 160px;
    height: 120px;
    border: #d0d0d0 solid 1px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;


    text-align: center;
    /*background: url("../images/t-file-upload.png") center no-repeat;*/
}

.t-input-file .t-upload {
    position: absolute;
    top: 0;
    left: 0;
    background: pink;
    width: 100%;
    height: 100%;
}

.t-file-tips1 {
    color: #939a9a;
    font-size: 16px;
    padding-top: 5px;
}

.t-file-tips2 {
    margin-left: 20px;
    color: #616161;
    font-size: 16px;
}

.t-agree-box {
    color: #616161;
    position: relative;
    padding-left: 24px;
}

.t-pd-t15{
    padding-top: 15px;
}

.t-agree-box p{
    line-height: 40px;
    height: 40px;
}

.t-agree {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    *margin-top: 14px;
    background: url("../images/cl/icon-check.png");
}

.t-agree.select {
    background: url("../images/cl/icon-agree.png");
}

.t-w-content{
    overflow: hidden;
    zoom: 1;
    display: block;
}

.t-owh{
    overflow: hidden;
}

/*比例ratio 34:66*/
.t-ratio1 {
}

.t-ratio1 .t-form-item-label {
    width: 34%;
}

.t-ratio1 .t-form-item-con {
}

/*比例ratio 27:73*/
.t-ratio2 {

}

.t-ratio2 .t-form-item-label {
    width: 27%;
}

.t-ratio2 .t-form-item-con {

}

/*比例ratio 30:70*/
.t-ratio3 {

}

.t-ratio3 .t-form-item-label {
    width: 30%;
}

.t-ratio3 .t-form-item-con {
    /*width: 70%;*/
}

/*比例ratio 21:79*/
.t-ratio4 {

}

.t-ratio4 .t-form-item-label {
    width: 21%;
}

.t-ratio4 .t-form-item-con {
    /*width: 79%;*/
}

.t-ratio4 .t-w-content {
    width: 79%;
}

.t-input-80 {
    width: 80px;
}

.t-input-100 {
    width: 100px;
}

.t-input-110 {
    width: 110px;
}

.t-input-140 {
    width: 140px;
}

.t-input-200 {
    width: 200px;
}

.t-input-250 {
    width: 250px;
}

.t-input-280 {
    width: 280px;
}

.t-input-426 {
    width: 426px;
}

.t-input-486 {
    width: 486px;
}

.t-input-506 {
    width: 506px;
}

.t-input-355 {
    width: 355px;
}

.pddt42{
    padding-top: 42px!important;
}

.cl-red{
    color: #f08519;
}

.t-input-526 {
    width: 526px;
}

.t-text-area-box textarea {
    background: none;
    display: block;
    font-size: 16px;
    color: #616161;
    width: 100%;
    outline: none;
    border: none;
}

.t-text-area-box {
    border: none;
    padding: 0;
}

.t-textarea {
    border: #d0d0d0 solid 1px;
    padding: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.t-text-area-box textarea::-webkit-input-placeholder {
    color: #939a9a;
}

.t-form-container1 .t-button-box {
    padding: 0;
}

.t-form-container1 .t-button {
    width: 140px;
    margin: 0 auto;
}

.t-link-article {
    display: block;
    color: #616161;
    font-size: 16px;
    word-break: break-all;
    position: relative;
    padding-left: 24px;
    padding-bottom: 20px;
}

.t-icon-question {
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    background: url("../images/cl/icon-question.png") center no-repeat;
}




.t-question-box {

}

.t-question-box .t-form-title-container {
    padding: 0 20px;
}

.t-question-box .t-form {
    padding: 20px;
}

.t-mrg-left14 {
    margin-left: 14px;
}

.t-check-item, .t-radio-item {
    color: #616161;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.t-check-item .t-check, .t-radio-item .t-radio {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
}

.t-check-item .t-check {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url("../images/cl/icon-check.png") center no-repeat;
}

.t-radio-item .t-radio {
    width: 15px;
    height: 15px;
    background: url("../images/cl/icon-radio.png") center no-repeat;
}

.t-check-item .t-checked {
    background: url("../images/cl/icon-checked.png") center no-repeat;
}

.t-radio-item .t-radio-on {
    background: url("../images/cl/icon-radio2.png") center no-repeat;
}

.t-check-item .t-check-w, .t-radio-item .t-radio-w {
    display: block;
    margin-left: 26px;
    width: 100%;
    overflow: hidden;
}

.t-four-child > div {
    width: 25%;
    *width: 24.9%;
    float: left;
}

.t-f-1661 {
    color: #616161;
    font-size: 16px;
}

.t-button-sa {
    width: 140px;
    margin: 0 auto;
}

/*S select*/
.t-simulate-select {
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    color: #616161;
    font-size: 16px;
    padding: 0 10px;
}

.t-icon-arrow-down {
    width: 10px;
    height: 8px;
    position: absolute;
    right: 14px;
    top: 16px;
    background: url("../images/cl/icon-triangle-down.png");
}

.t-simulate-select:hover {
    border: #349aff solid 1px;
}

.diy_select_btn {
    height: 100%;
    background: pink;
    z-index: 10000;
}

.diy_select_txt {
    color: #939a9a;
    height: 38px;
    line-height: 38px;
}

.diy_select_txt.has {
    color: #616161;
}

.diy_select_txt, .diy_select_list li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.diy_select_txt {
    margin-right: 25px;
}

.diy_select_list {
    position: absolute;
    top: 39px;
    left: -1px;
    border: #d0d0d0 solid 1px;
    width: 100%;
    display: none;
    border-radius: 5px;
    z-index: 1000;
    background: #fff;
    max-height: 270px;
    overflow-y: auto;
}

.diy_select_list li {
    padding: 0 14px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #616161;
}

.diy_select_list li.focus {
    background: #3399FF;
    color: #fff
}