/* 公共样式 
*  公共样式样式命名以
*/

body {
    font-family: '微软雅黑';
    font-size: 16px;
    background: #eceded;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #ededed;
}

.s {
    font-family: "宋体", Arial;
}

.w {
    font-family: "microsoft yahei", "微软雅黑";
}

.s12 {
    font-size: 12px;
}

.s14 {
    font-size: 14px;
}

.s16 {
    font-size: 16px;
}

.clear {
    clear: both;
    float: none;
    height: 0;
    overflow: hidden;
}

.f {
    overflow: hidden;
}

.fte {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.l {
    float: left;
    display: inline
}

.r {
    float: right;
    display: inline
}

.center {
    margin-left: auto;
    margin-right: auto
}

.x {
    position: relative;
}

.y {
    position: absolute;
}

.fix {
    position: fixed;
}

.ml15 {
    margin-left: 15px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.dw50 {
    width: 50px !important;
}


/*顶部公用样式*/


/**/

.head {
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #e5e5e5;
    background: #f2f2f2;
}

.head-m {
    width: 1200px;
    height: 40px;
}

.bf-login {
    margin-top: 9px;
    width: auto;
    height: 22px;
    line-height: 22px;
    color: #939a9a;
}

.bf-login span {
    display: inline-block;
    height: 22px;
}

.bf-login .sp-login {
    border-right: solid 1px #fff;
    padding-right: 8px;
    margin-left: 22px;
    margin-right: -6px;
}

.bf-login .sp-reg {
    border-left: solid 1px #e5e5e5;
    padding-left: 8px;
}

.bf-login a {
    color: #939a9a;
    font-weight: 800;
}

.af-login {
    width: auto;
    height: 40px;
    line-height: 40px;
}

.af-login .user-info {
    z-index: 5;
    margin-left: 18px;
    cursor: pointer;
}

.af-login .user-info .head {
    width: 28px;
    height: 28px;
    margin-top: 6px;
    border-radius: 14px;
}

.af-login .user-info:hover .info-tips {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.af-login .user-info .info-tips:before {
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
    border: solid 1px #d5d5d5;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: -5px;
    right: 15px;
    content: " ";
}

.af-login .user-info .info-tips {
    z-index: 10;
    font-size: 14px;
    left: -83px;
    top: 40px;
    width: 116px;
    height: auto;
    border: solid 1px #d5d5d5;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    transform-origin: 85% 0;
    transform: scale(0.01);
    transition: all .3s;
}

.box-sh {
    box-shadow: 1px 0px 1px #e9e9e9, 0px -1px 1px #e9e9e9, 0px 1px 1px #e9e9e9, -1px 0px 1px #e9e9e9;
}

.af-login .info-tips ul {
    width: 90px;
    margin-left: 13px;
    padding: 10px 0px;
    height: auto;
}

.af-login .info-tips li {
    width: 100%;
    height: 36px;
}

.af-login .info-tips a {
    display: block;
    color: #616161;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: solid 1px #d5d5d5;
    text-align: center;
}

.af-login .info-tips li:last-child a {
    border-bottom: none;
}

.af-login a:hover {
    color: #349aff !important;
}

.bor-t-n {
    border-bottom: none !important;
}

.af-login .user-news {
    z-index: 5;
    cursor: pointer;
    font-size: 15px;
    line-height: 40px;
    padding-left: 24px;
    color: #717d97;
    background: url(../images/g-icon1.png) no-repeat 0px 13px;
}

.af-login .news-tips a:hover {
    color: #349aff !important;
}

.af-login .news-icon {
    width: 4px;
    height: 4px;
    top: 11px;
    right: -4px;
}

.af-login .user-news:hover .news-tips {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.af-login .news-tips:before {
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
    border: solid 1px #d5d5d5;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: -6px;
    right: 55px;
    content: " ";
}

.af-login .news-tips {
    z-index: 10;
    font-size: 14px;
    color: #616161;
    left: -48px;
    line-height: 55px;
    top: 40px;
    width: 116px;
    height: auto;
    text-align: center;
    border: solid 1px #d5d5d5;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    transform-origin: top center;
    transform: scale(0.01);
    transition: all .3s;
}


/**/

.h107 {
    height: 107px;
}

.h94 {
    height: 92px;
}

.t14 {
    top: 14px;
}

.t19 {
    top: 19px;
}

.bt4 {
    bottom: 4px;
}

.bt30 {
    bottom: 30px;
}

.mb5 {
    margin-bottom: 5px;
}

.bg-t {
    background: url(../images/top_bg.png) repeat-x;
}

.bort-f3 {
    border-top: solid 1px #f3f3f3;
}

.bx-s {
    box-shadow: 0px 1px 5px #333;
}

.nav {
    width: 100%;
    height: 75px;
    /*border-bottom: solid 1px #e0e0e0;*/
    background: #fefefe;
}

.nav-m {
    width: 1200px;
    z-index: 1;
    height: 75px;
}

.logo {
    left: 0px;
    z-index: 2;
    top: 18px;
}

.serarch {
    width: 370px;
    height: 38px;
    right: 0px;
    border: solid 1px #dadada;
    margin-left: 35px;
    margin-top: 10px;
}

.serarch input {
    width: 312px;
    padding: 0px 10px;
    height: 38px;
    line-height: 38px;
    border: none;
    font-size: 14px;
    color: #b7b7b7;
}

.serarch_btn {
    width: 38px !important;
    height: 38px !important;
    border-radius: 0px !important;
    background: #dadada;
    padding: 0px !important;
}

.serarch_btn img {
    margin-left: 10px;
    margin-top: 10px;
}

.serarch div a {
    padding: 0!important;
}

.serarch div a span {
    margin-left: 0!important;
}

.sign {
    width: 113px;
    height: 20px;
    right: 47px;
    top: 9px;
}

.sign span {
    display: inline-block;
    float: right;
    height: 20px;
    line-height: 20px;
    color: #7b7b7b;
    background: #eee;
    font-size: 12px;
    margin-left: 5px;
    padding: 0px 5px;
}

.nav-m ul {
    width: 966px;
    height: auto;
    left: 234px;
    top: 23px;
    line-height: 30px;
}

.nav-m ul li {
    float: left;
    margin-left: 12px;
}

.nav-m ul a {
    padding: 0px 20px;
    border-radius: 3px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #2c2d32;
}

.nav-m ul li:hover > a {
    background: #717d97;
    color: #fff !important;
    text-decoration: none;
}

.nav-m ul .active {
    background: #717d97;
    color: #fff;
}

.nav-m ul .active:hover {
    background: #717d97;
    color: #fff;
}

.nav-m .log-reg-tips {
    width: auto;
    height: 30px;
    right: 0px;
    top: 34px;
    line-height: 30px;
}

.nav-m .log-reg-tips a {
    font-size: 16px;
    color: #2c2d32;
}

.nav-m .log-reg-tips span {
    color: #717d97;
    padding: 0px 5px;
}

.nav-m .show-info {
    display: block;
    width: auto;
    height: 54px;
    left: 273px;
    top: 18px;
    border-left: solid 1px #f08519;
    color: #f08519;
    font-size: 22px;
    line-height: 54px;
    padding-left: 36px;
}

.nav-m ul .li-t {
    cursor: pointer;
    float: right;
    width: 34px;
    height: 50px;
    background: url(../images/icon-search-black.png) no-repeat 0px 6px;
    padding-left: 23px;
}

.z5 {
    z-index: 5;
    cursor: pointer;
}

.z5:hover .pop-up {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.pop-up a {
    font-size: 14px !important;
    margin-left: 13px;
    padding: 0 !important;
    border-radius: 0 !important;
    display: block;
    width: 92px;
    color: #616161;
    height: 35px;
    line-height: 35px;
    border-bottom: solid 1px #d5d5d5;
    text-align: center;
}

.pop-up a:hover {
    color: #349aff !important;
    background: none !important;
}

#pop-up1 a:hover,
#pop-up2 a:hover {
    color: #349aff !important;
    background: none !important;
}

#pop-up1 a:last-child,
#pop-up2 a:last-child {
    border-bottom: none;
}

.pop-up {
    padding: 10px 0px;
    z-index: 10;
    width: 118px;
    height: auto;
    border: solid 1px #d5d5d5;
    left: 0px;
    top: 40px;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    transform-origin: 40% 0;
    transform: scale(0.01);
    transition: all .3s;
}

.pop-up:before {
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
    border: solid 1px #d5d5d5;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: -6px;
    right: 70px;
    content: " ";
}

.li-t.z5:hover {
    color: #00b3f5;
    background: url(../images/icon-search-blue.png) no-repeat 0px 6px;
}

.z5:hover .pop-up-search {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.pop-up-search {
    padding: 10px 0px;
    z-index: 10;
    width: 440px;
    height: auto;
    border: solid 1px #d5d5d5;
    right: 0px;
    top: 40px;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    transform-origin: 93% 0;
    transform: scale(0.01);
    transition: all .3s;
}

.pop-up-search:before {
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
    border: solid 1px #d5d5d5;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: -6px;
    right: 28px;
    content: " ";
}


/*中部公用样式*/

.pb50 {
    padding-bottom: 50px;
}

.content {
    width: 1200px;
    height: auto;
}


/*底部公用样式*/

.foot {
    width: 100%;
    height: 199px;
    background: #2c2d32;
    margin-top: 67px;
}

.foot-m {
    width: 1200px;
    height: 199px;
}

.db-tit {
    width: 100%;
    height: 48px;
}

.db-tit img {
    left: 0px;
    top: 20px;
}

.db-tit div {
    width: auto;
    height: 37px;
    right: 0px;
    bottom: 0px;
}

.db-tit a {
    display: inline-block;
    width: 32px;
    height: 31px;
    margin-left: 12px;
}

.db-tit .a-wx {
    background: url(../images/icon-wx.png) no-repeat;
    background-size: 32px auto;
}

.db-tit .a-tx {
    background: url(../images/icon-tx.png) no-repeat;
    background-size: 32px auto;
}

.db-tit .a-sina {
    background: url(../images/icon-sina.png) no-repeat;
    background-size: 32px auto;
}

.db-tit .a-item:hover {
    background-position: 0px -31px;
}

.db-con {
    width: 100%;
    height: 115px;
    margin-top: 35px;
}

.db-con-l {
    width: 730px;
    height: 145px;
}

.db-con-l ul {
    width: 100%;
    display: block;
}

.db-con-l .ul-1 {
    height: 30px;
}

.db-con-l .ul-1 li {
    display: inline-block;
    margin-right: 28px;
    float: left;
}

.db-con-l .ul-1 a {
    color: #acacad;
    font-weight: 800;
}

.db-con-l .ul-1 a:hover {
    color: #fff !important;
}

.db-con-l .ul-2 {
    height: auto;
}

.db-con-l .ul-2 li {
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #888;
    font-size: 12px;
}

.db-con-r {
    width: 130px;
    padding-right: 0px;
    text-align: center;
    color: #888;
    font-size: 12px;
    margin-top: -27px;
    height: 128px;
}

.db-con-r img {
    border: 4px #fff solid;
}

.db-con-r p {
    line-height: 34px;
}

.bottom {
    width: 100%;
    height: 49px;
    background: #151619;
}

.bottom-m {
    width: 1200px;
    height: 49px;
    color: #6a6a6a;
    line-height: 49px;
}


/*返回顶部*/

.toolbar {
    z-index: 49;
    position: fixed;
    left: 50%;
    margin-left: 602px;
    bottom: 26px;
    width: 36px;
}

.toolbar-item {
    margin-left: -1px;
    z-index: 49;
    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    border: solid 1px #e7e7e7;
    margin-top: 1px;
    transition: background-position .6s;
}

.toolbar-item:hover .toolbar-layer {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.toolbar-item-weixin {
    background: url(../images/back-top-a2.png) no-repeat;
}

.toolbar-item-weixin:hover {
    background-position: 0px -34px;
}

.toolbar-item-weixin .toolbar-layer {
    height: 241px;
    background-position: 0 0;
}

.toolbar-item-top {
    background: url(../images/back-top-a1.png) no-repeat;
}

#toolbar-item-top {
    display: none;
}

.toolbar-item-top:hover {
    background-position: 0px -34px;
}

.toolbar-layer {
    z-index: 50;
    position: absolute;
    right: 55px;
    bottom: 0px;
    width: 223px;
    background: url(../images/erweima-layer.png) no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    transform-origin: bottom right;
    transform: scale(0.01);
    transition: all .6s;
}


/*  */

.m-wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mt30 {
    margin-top: 30px;
}

.m-picText {}

.m-picText .pic {
    float: left;
    margin-right: 10px;
}

.m-picText .text {
    overflow: hidden;
}

.m-tag {
    padding: 4px 5px;
    min-width: 62px;
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
    border: 1px solid #d0d0d0;
    color: #939a9a;
    font-size: 12px;
}

.m-msgBox {
    border: 1px solid #e2e3e3;
    border-radius: 2px;
    background-color: #fff;
}

.m-msgBox .hd {
    line-height: 39px;
    position: relative;
    padding: 0 15px;
    border-bottom: 1px solid #e2e3e3;
}

.m-msgBox .hd h2 {
    font-size: 18px;
    color: #616161;
    font-weight: normal;
}

.m-msgBox .hd h2 img {
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.m-msgBox .hd .more {
    position: absolute;
    right: 10px;
    top: 0;
    color: #949a9a;
    font-size: 14px;
}

.m-bgwhite {
    background: #fff;
}


/*pages*/

.y-pages {
    padding-top: 55px;
    text-align: center;
}

.y-pages a {
    display: inline-block;
    color: #898989;
    padding: 0 9px;
    line-height: 13px;
}

.y-pages a:hover {
    text-decoration: none;
}

.y-pages a.no:hover {
    /*background: #fff;*/
    color: #898989;
    background: none;
}

.y-pages a.active {
    color: #349aff;
}

.y-pages a.active:hover {
    background: transparent;
    color: #898989;
}

.y-pages a:hover {
    background: #349aff;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}

.y-pages a.previous,
.y-pages a.next {
    width: 73px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #d0d0d0;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    color: #616161;
    font-size: 12px;
    background: #ffffff url(../images/y-ico3.png) no-repeat 10px center;
    text-indent: 10px;
}

.y-pages a.next {
    background: #ffffff url(../images/y-ico4.png) no-repeat 55px center;
    text-indent: -10px;
}


/* 底部漂浮工具条 */

.m-btTool {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.m-btTool .t1 {
    height: 4px;
    background-color: rgba(5, 29, 53, .2);
}

.m-btTool .t2 {
    height: 2px;
    background-color: rgba(255, 255, 255, .2);
}

.m-btTool .t3 {
    height: 68px;
    background-color: rgba(52, 154, 255, .9);
}

.m-btn-l {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    width: 223px;
    height: 45px;
    line-height: 45px;
    font-size: 22px;
    color: #fff;
    background: url(../images/ty/bg-btn1.png) no-repeat;
}

.m-btn-l:hover {
    color: #fff;
}

.fl {
    float: left;
}

.fr {
    float: right;
}



/* 登录注册 */
/*login*/
.row:after {
    width: 100%;
    display: block;
    content: '';
    clear: both;
}

.t_rela{
    position: relative;
}
.t_cen{
    text-align: center;
}
.t_marT{
    margin-top: 15px;
}
/*登录界面  S*/
.inp-yj{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.L-body {    
    width: 100%;
    height: 100%;
    background: url("../images/L-Bg.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: top;
}
.login-bg{
    width: 100%;
    min-height: 800px;
}

/*.L-con2{
    top: 50%;
    margin-top: -153px;
    left: 50%;
    margin-left: -241px;
}*/

.login-box {
    width: 100%;
}
.login-con{
    width: 400px;
    padding: 32px 40px 60px 40px;
    margin: 200px auto 0;
    background: #fff;
    border: 1px solid #00a2e9;
    box-shadow: 0 0 2px #00a2e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.l-logo{
    width: 47%;
    height: 40px;
    margin: 0 auto;
    background: url("../images/L-logo.png") no-repeat;
    background-size: 100% 100%;
}
.login-con form{
    width: 100%;
    padding-top: 30px;
    position: relative;
}
.login-con .item{
    width: 100%;
    padding-top: 27px;
}
.login-con .item2{
    width: 100%;
    padding-top: 30px;
}
.login-con .L-inp{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 0.6em;
    font-size: 18px;
    color: #616161;
    border: 1px solid #d0d0d0;
    webkit-transition: border 0.30s ease-in-out;
    -moz-transition:  border 0.30s ease-in-out;
}
.login-con input:focus{
    background-color:#fff;
    outline:none;
    border:1px solid #00a2e9;
    box-shadow: 0 0 5px #00a2e9;
}
.L-btn{
    width: 100%;
    padding-top: 30px;
    *padding-left: 3%;
}
.L-loginBtn{
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: #00a2e9;
    text-align: center;
    color: #fff;
}
.L-goLogin{
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 18px;
    color: #717d97;
}
.L-returnII{
    display: inline-block;
    background: url("../images/L-icon1.png") no-repeat;
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    vertical-align: -2px;
    *vertical-align: 2px;
    margin-left: 8px;
}
.login-con .in-yz{
    width: 60%;
    float: left;
    *width: 56%;
    *margin-left: 3%;
}
.login-con .hqyz-btn{
    display: inline-block;
    float: left;
    width: 34%;
    *width: 35%;
    height: 40px;
    line-height: 40px;
    margin-left: 5%;
    color: #2c2d32;
    text-align: center;
    font-size: 18px;
    background-color:#fff;
    border: 1px solid #d0d0d0;
}
/*.login-con .hqyz-btn:focus{
    background: #d0d0d0;
    outline:none;
    border:1px solid #d0d0d0;
    box-shadow: 0 0 5px #d0d0d0;
}*/
.errorMsg{
    font-size: 12px;
    color: #ff0000;
    position: absolute;
    left: 3%;;
    top: 5px;
}
/*去掉 input type= number默认样式*/
.L-inp {
    -moz-appearance: textfield;
}
.L-inp::-webkit-inner-spin-button, .L-inp::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*登录界面  E*/