/*================= S tony公共部分  =================*/


.f-fs12{
    font-size: 12px;
}
.f-lhn{
    line-height: normal;
}
.f-mt30{
    margin-top: 30px;
}
.f-br3{
    border-radius: 3px;
}

.m-picText{overflow: hidden;}

/* 颜色 */
.c-gray{
    color: #939a9a;
}

/* 按钮 */
.m-btn{
    display: inline-block;
    min-width: 64px;
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.m-btn-primary{
    color: #fff;
    background-color: #349aff;
}
.m-btn-default{
    color: #fff;
    background-color: #dadada;
}
.m-btn-lg{
    min-width: 120px;
    line-height: 30px;
}
.m-btn:hover{
    color: #fff;
    text-decoration: none;
}
.m-btn-primary:hover{
    background-color: #2e8ae5;
}
.m-btn-default:hover{
    background-color: #bfbfbf;
}


.m-w840{
    width: 840px;
}
.m-w320{
    width: 320px;
}

/* 通用容器 */
.m-box{
    background-color: #fff;
    border: 1px solid #d0d0d0;
}
.m-box .hd{
    padding: 0 40px;
    height: 45px;
    line-height: 45px;
}
.m-box .hd .tit{
    position: relative;
    float: left;
    padding-left: 32px;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    background: url(../images/ty/icon-bg.png) no-repeat;
}
.m-box .hd .tit:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 2px solid #349aff;
}
.m-box .hd .tit.icon2{
    background-position: 0 -45px;
}
.m-box .hd .tit.icon3{
    background-position: 0 -90px;
}
.m-box .hd .num{
    float: left;
    display: inline-block;
    line-height: normal;
    padding:2px 6px;
    border-radius: 3px;
    margin: 12px 0 0 10px;
    font-size: 14px;
    color: #fff;
    background-color: #ffad1d;

}
.m-box .hd .more{
    float: right;
}
.m-box .hd.p20{
    padding: 0 20px;
}
.m-box .bd{
    padding: 20px;
    border-top: 1px solid #d0d0d0;
}
.m-box.tab .hd{
    padding: 0;
}
.m-box.tab .hd .tit{
    padding: 0 20px;
    background: none;
    border-right: 1px solid #d0d0d0;
    cursor: pointer;
}
.m-box.tab .hd :after{
    border:none;
}
.m-box.tab .hd .active:after{
    border-bottom: 1px solid #fff;
}
.m-box .nobd{border: none;}

/* 分享 */
.m-fx{}
.m-fx a{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(../images/ty/bg-share.png) no-repeat;
}
.m-fx .wx{
    background-position: 0 0;
}
.m-fx .qq{
    background-position: 0 -20px;
}
.m-fx .wb{
    background-position: 0 -40px;
}

/* 分享2 */
.m-fx2{}
.m-fx2 li{
    float: left;
    margin-right: 10px;

}
.m-fx2 a{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/ty/bg-share2.png) no-repeat;
}
.m-fx2 .wb{
    background-position: 0 0;
}
.m-fx2 .qq{
    background-position: 0 -40px;
}
.m-fx2 .wx{
    background-position: 0 -80px;
}
.m-fx2 .sx{
    background-position: 0 -120px;
}


/* 简易表单 */
.m-form{line-height:29px;color:#555;}
.m-form legend{font-size:14px;font-weight:bold;}
.m-form .formitm{padding:20px 0 0;line-height:30px;}
.m-form .formitm-1{padding-left:100px;}
.m-form .lab{float:left;width:90px;margin-right:-90px;text-align:right;font-weight:bold;}
.m-form .ipt{margin-left:100px;}
.m-form .ipt *{vertical-align:middle;}
.m-form .ipt a,.m-form .ipt a:hover{text-decoration:none;color:#3891eb;}
.m-form .ipt img{height:32px;margin:0 15px 0 5px;}
.m-form .ipt .domain{margin:0 0 0 5px;font-weight:bold;color:#777;}
.m-form .ipt p{height:22px;line-height:22px;color:#999;}
.m-form .tip{padding-top:10px;}
.m-form .tip input{margin:0 5px 3px 0;}


/* 通用自定义按钮-默认蓝色 */
.u-btn{display:inline-block;*display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:28px;line-height:28px;border:1px solid #2d88bf;font-size:12px;letter-spacing:1px;word-spacing:normal;text-align:center;vertical-align:middle;cursor:pointer;background:#54aede;}
button.u-btn{*height:30px;_line-height:25px;}
.u-btn,.u-btn:hover{color:#fff;text-decoration:none;}
.u-btn:hover,.u-btn:focus{background:#399dd8;}
.u-btn::-moz-focus-inner{padding:0;margin:0;border:0;}
.u-btn .btntxt{margin-right:3px;_vertical-align:middle;}
.u-btn .btnsel{display:inline-block;*display:inline;*zoom:1;width:0;height:0;overflow:hidden;vertical-align:middle;border-style:solid dashed dashed;border-width:4px 4px 0;border-color:#fff transparent transparent;}
/* 较大 */
.u-btn-lg{padding:0 15px;height:36px;line-height:36px;font-size:18px;}
button.u-btn-lg{*height:38px;_line-height:33px;}
.u-btn-lg .btnsel{border-width:5px 5px 0;}
/* 较小 */
.u-btn-sm{padding:0 10px;height:22px;line-height:22px;}
button.u-btn-sm{*height:24px;_line-height:19px;}
/* 红色 */
.u-btn-c1{border-color:#9f161b;background:#de2027;}
.u-btn-c1:hover,.u-btn-c1:focus{background:#cc1c23;}
/* 黄色 */
.u-btn-c2{border-color:#e1962d;background:#faa42b;}
.u-btn-c2:hover,.u-btn-c2:focus{background:#f8960a;}
/* 绿色 */
.u-btn-c3{border-color:#52a552;background:#5cbc5c;}
.u-btn-c3:hover,.u-btn-c3:focus{background:#50b150;}
/* 灰色 */
.u-btn-c4{border-color:#d0d0d0;background:#f3f3f3;}
.u-btn-c4,.u-btn-c4:hover{color:#333;}
.u-btn-c4:hover,.u-btn-c4:focus{background:#e7e7e7;}
.u-btn-c4 .btnsel{border-top-color:#555;}
.u-btn-c4:hover .btnsel,.u-btn-c4:focus .btnsel{border-top-color:#000;}


/*================= E tony公共部分  =================*/


/*================= S 首页  =================*/


/* 先锋榜 */

.ty-zcxfb {
    float: left;
    width: 843px;
    height: 445px;
}

.ty-zcxfb .m-msgBox .bd {
    padding-top: 30px;
    padding-right: 30px;
    height: 373px;
}

.ty-zcxfb .tabs-nav {
    margin-right: 26px;
    float: left;
    width: 124px;
    border-right: 1px solid #d0d0d0;
}

.ty-zcxfb .tabs-nav li {
    position: relative;
}

.ty-zcxfb .tabs-nav a {
    position: relative;
    right: -1px;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    border-right: 4px solid transparent;
    color: #616161;
}

.ty-zcxfb .tabs-nav a:hover,
.ty-zcxfb .tabs-nav .active a {
    border-right: 4px solid #4285f4;
    color: #4285f4;
}

.ty-zcxfb .tab-panel {
    float: left;
    width: 660px;
    display: none;
}

.ty-zcxfb .tab-panel .firstNews {
    height: 140px;
    margin-bottom: 36px;
}

.ty-zcxfb .tab-panel .firstNews .img {
    float: left;
    margin-right: 18px;
}

.ty-zcxfb .tab-panel .firstNews .text {
    overflow: hidden;
}

.ty-zcxfb .tab-panel .firstNews .text h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}

.ty-zcxfb .tab-panel .firstNews .text h3 a {
    color: #2c2d32;
}

.ty-zcxfb .tab-panel .firstNews .text p {
    font-size: 14px;
    line-height: 24px;
    color: #616161;
}

.ty-zcxfb .tab-panel .list2 {}

.ty-zcxfb .tab-panel .list2 li {
    float: left;
    width: 50%;
}

.ty-zcxfb .tab-panel .list2 a {
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #2c2d32;
    border-left: 4px solid transparent;
}

.ty-zcxfb .tab-panel .list2 a:hover {
    border-left: 4px solid #349aff;
    color: #349aff;
}

.ty-zcxfb .tab-panel .list2 li span {
    display: inline-block;
    padding: 0 30px 0 14px;
    font-size: 22px;
    font-style: italic;
}

.ty-zcxfb .firstNews .text .tag {
    line-height: 26px;
    margin-top: 15px;
}

.ty-zcxfb .firstNews .text .fx {
    line-height: 30px;
    font-size: 14px;
    color: #939a9a;
}

.ty-zcxfb .firstNews .text .fx ul {
    float: right;
}

.ty-zcxfb .firstNews .text .fx ul li {
    float: left;
    text-align: right;
}

.ty-zcxfb .firstNews .text .fx ul li a {
    color: #939a9a;
}

.ty-zcxfb .firstNews .text .fx .xin1 {
    padding-left: 20px;
    padding-right: 20px;
    background: url(../images/xin.png) left center no-repeat;
}

.ty-zcxfb .firstNews .text .fx .xin2 {
    padding-left: 20px;
    background: url(../images/xin2.png) left 6px no-repeat;
    padding-right: 24px;
}

.ty-zcxfb .tijiao {
    margin-top: 10px;
    text-align: right;
}

.ty-zcxfb .tijiao a {
    font-size: 16px;
    color: #349aff;
}


/* 先锋资讯 */

.ty-xfzx {
    float: right;
    width: 330px;
    margin-bottom: 20px;
    color: #616161;
}

.ty-xfzx .m-msgBox .bd {
    padding: 10px;
    border-bottom: 1px dotted #d4d8e0;
}

.ty-xfzx .m-msgBox .ft {
    padding: 10px;
}

.ty-xfzx .m-msgBox .ft li {
    line-height: 28px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ty-xfzx .m-msgBox .ft li a {
    color: #616161;
    font-size: 14px;
}

.ty-xfzx .m-picText {
    height: 80px;
}

.ty-xfzx .m-picText .text h3 {
    font-size: 16px;
    color: #2c2d32;
    margin-bottom: 6px;
    font-weight: 500;
}

.ty-xfzx .m-picText .text p {
    font-size: 14px;
    line-height: 18px;
    color: #616161;
}


/* 项目动态 */

.ty-xmdt {
    float: right;
    width: 330px;
    background-color: #fff;
    color: #616161;
}

.ty-xmdt .m-msgBox .bd {
    padding: 10px;
    height: 142px;
    overflow: hidden;
}

.ty-xmdt .scrollBox {
    position: relative;
    height: 144px;
    overflow: hidden;
}

.ty-xmdt ul {
    position: absolute;
    margin-left: 8px;
    border-left: 1px solid #e9ebef;
}

.ty-xmdt li {
    position: relative;
    height: 77px;
    padding-left: 15px;
}

.ty-xmdt .dot {
    position: absolute;
    left: -5px;
    top: 4px;
    width: 10px;
    height: 10px;
    background: url(../images/dot.png) no-repeat;
}

.ty-xmdt .time {
    margin-bottom: 5px;
    font-size: 12px;
    color: #949a9a;
}

.ty-xmdt .text {
    line-height: 20px;
    font-size: 14px;
    color: #616161;
}


/* 合作伙伴 */

.ty-hzhb {}

.ty-hzhb .m-msgBox .hd {
    padding: 0;
}

.ty-hzhb .m-msgBox .hd h2 {
    position: relative;
    float: left;
    padding: 0 30px;
    cursor: pointer;
    border-right: 1px solid #e2e3e3;
}

.ty-hzhb .m-msgBox .hd .active:after {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.ty-hzhb .m-msgBox .bd {
    padding: 20px;
    height: 90px;
}

.ty-hzhb .m-msgBox .bd .item {
    display: none;
}

.ty-hzhb ul {
    margin-left: 6px;
    width: 1170px;
    overflow: hidden;
}

.ty-hzhb ul li {
    float: left;
    margin-right: 22px;
    border: 1px solid #e9eaec;
}

.ty-hzhb .link a {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #616161;
}


/* banner */

.d-bs {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.d-bn-box {
    width: 100%;
    height: 202px;
    background: url(../images/d-banner-bg.png) no-repeat center center / 100% 100%;
    margin-bottom: 30px;
}

.d-bn-con {
    width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    font-size: 14px;
    height: 100%;
}

.d-bn-con .d-bn-l {
    padding-top: 20px;
}

.d-bn-con .d-bn-l h2 {
    color: #fff;
    font-size: 32px;
    padding-bottom: 6px;
}

.d-bn-con .d-bn-l p {
    color: #fff;
}

.d-bn-con .d-bn-l .btn-box {
    padding-top: 30px;
}

.d-bn-con .d-bn-l .btn-box .a1 {
    display: block;
    width: 174px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    color: #616161;
    font-size: 20px;
    float: left;
}

.d-bn-con .d-bn-l .btn-box .a2 {
    color: #fff;
    font-size: 16px;
    line-height: 65px;
    margin-left: 23px;
}

.d-bn-con .d-bn-l .btn-box a:hover {
    text-decoration: none;
}

.d-bn-con .d-bn-r {
    overflow: hidden;
    width: 330px;
    background: rgba(44, 45, 50, 0.75);
    color: #fff;
    height: 100%;
    padding: 5px 20px;
}

.d-bn-con .d-bn-r a {
    color: #fff;
}

.d-bn-con .d-bn-r h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    line-height: 53px;
    border-bottom: 1px solid #a7a2a2;
}

.d-bn-con .d-bn-r h4 a {
    font-size: 14px;
    float: right;
}

.d-bn-con .d-bn-r ul li {
    position: relative;
    padding-left: 11px;
}

.d-bn-con .d-bn-r ul li:after {
    content: "·";
    color: #fff;
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.d-bn-con .d-bn-r ul li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 13px;
}


/* 创投服务 */

.d-fw {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #e2e3e3;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.d-fw .d-fw-tit {
    border-bottom: 1px solid #E2E3E3;
    line-height: 42px;
    font-size: 18px;
    color: #616161;
    overflow: hidden;
}

.d-fw .d-fw-tit em {
    display: block;
    width: 20px;
    height: 23px;
    background: url(../images/d-ico1.png) no-repeat center center;
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    margin-right: 15px;
}

.d-fw .d-fw-box {
    padding: 85px 0;
}

.d-fw .d-fw-box>div {
    width: 33.3%;
    text-align: center;
}

.d-fw .d-fw-box .d-fw-l,
.d-fw .d-fw-box .d-fw-r {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px dashed #349afe;
    background: #ddecfb;
    padding-top: 26px;
    margin: 0 130px;
    position: relative;
    cursor: pointer;
}

.d-fw .d-fw-box .d-fw-l img,
.d-fw .d-fw-box .d-fw-r img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.d-fw .d-fw-box .d-fw-l:after {
    content: "";
    display: block;
    width: 168px;
    height: 1px;
    background: url(../images/border-bg.png) no-repeat center center;
    position: absolute;
    left: 167px;
    top: 70px;
}

.d-fw .d-fw-box .d-fw-r:after {
    content: "";
    display: block;
    width: 168px;
    height: 1px;
    background: url(../images/border-bg.png) no-repeat center center;
    position: absolute;
    right: 167px;
    top: 70px;
}

.d-fw .d-fw-box .d-fw-c {
    height: 140px;
    line-height: 140px;
    position: relative;
}

.d-fw .d-fw-box .d-fw-c img {
    display: inline-block;
    vertical-align: middle;
}

.d-fw .d-fw-box .d-fw-c:after {
    content: "";
    display: block;
    width: 34px;
    height: 120px;
    background: url(../images/d-fw-img5.png) no-repeat center center;
    position: absolute;
    left: 100px;
    top: 11px;
}

.d-fw .d-fw-box .d-fw-c:before {
    content: "";
    display: block;
    width: 34px;
    height: 120px;
    background: url(../images/d-fw-img4.png) no-repeat center center;
    position: absolute;
    right: 100px;
    top: 11px;
}

.d-fw .d-fw-tc {
    display: none;
    width: 400px;
    height: 277px;
    background: #ddecfb;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: 27px;
}

.d-fw .d-fw-tc a:hover {
    text-decoration: none;
}

.d-fw .d-fw-tc .d-fw-a {
    padding: 18px 16px;
    padding-bottom: 0;
}

.d-fw .d-fw-tc .d-fw-a>div {
    width: 33.3%;
    float: left;
    text-align: center;
    margin-bottom: 18px;
    position: relative;
}

.d-fw .d-fw-tc .d-fw-a a {
    color: #32618e;
    text-align: center;
}

.d-fw .d-fw-tc .d-fw-a a:hover {
    text-decoration: none;
}

.d-fw .d-fw-tc .d-fw-a em {
    display: block;
    width: 57px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    border-radius: 100%;
    border: 1px dashed #32618e;
    margin: auto;
    transition: all .6s;
    -webkit-transition: all .6s;
}

.d-fw .d-fw-tc .d-fw-a em img {
    vertical-align: middle;
}

.d-fw .d-fw-tc .d-fw-a span {
    display: block;
    padding-top: 4px;
}

.d-fw .d-fw-tc .d-fw-a>div.active em {
    opacity: .3;
}

.d-fw .d-fw-tc .d-fw-a>div.active span {
    opacity: .3;
}

.d-fw .d-fw-tc .d-fw-a>div.active:after {
    content: "敬请期待";
    display: block;
    width: 100%;
    height: 82px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 64px;
    color: #32618e;
}

.d-fw .d-fw-tc .d-fw-a .v1 a em {
    background: url(../images/d-f-ico1.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v2 a em {
    background: url(../images/d-f-ico2.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v3 a em {
    background: url(../images/d-f-ico3.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v4 a em {
    background: url(../images/d-f-ico4.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v5 a em {
    background: url(../images/d-f-ico5.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v6 a em {
    background: url(../images/d-f-ico6.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a a em:hover {
    background: #32618e;
}

.d-fw .d-fw-tc .d-fw-a .v1 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico1-1.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v2 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico2-2.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v3 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico3-3.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v4 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico4-4.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v5 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico5-5.png) no-repeat center center;
}

.d-fw .d-fw-tc>a {
    display: block;
    width: 293px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #32618e;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #32618e;
    margin: auto;
}

.d-fw .d-fw-tc>a:hover {
    background: #32618e;
    color: #fff;
}

.d-fw .d-fw-tc2 {
    right: 27px;
    left: auto;
}

.d-fw .d-fw-tc2 .d-fw-a {
    padding-top: 45px;
}

.d-fw .d-fw-tc2 .d-fw-a .v1 a em {
    background: url(../images/d-f-ico7.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v2 a em {
    background: url(../images/d-f-ico8.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v3 a em {
    background: url(../images/d-f-ico9.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v4 a em {
    background: url(../images/d-f-ico10.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v5 a em {
    background: url(../images/d-f-ico11.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v6 a em {
    background: url(../images/d-f-ico12.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v1 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico7-7.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v2 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico8-8.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v3 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico9-9.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v4 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico10-10.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v5 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico11-11.png) no-repeat center center;
}


/*================= E 首页  =================*/


/*================= S 青锋计划  =================*/


/* banner */

.ty-qfjh-banner {
    height: 360px;
    border-bottom: 1px solid #d0d0d0;
    background: url(../images/ty/qfjh-banner-bg.jpg) center no-repeat;
}

.ty-qfjh-banner .count {
    position: absolute;
    top: 82px;
    right: 20px;
    width: 330px;
}

.ty-qfjh-banner p {
    font-size: 16px;
    color: #fff;
}

.ty-qfjh-banner ul {
    overflow: hidden;
    margin: 10px 0;
}

.ty-qfjh-banner li {
    float: left;
    margin-right: 5px;
    width: 40px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    background-color: #fff;
    border: 1px solid #798085;
    border-radius: 5px;
    text-align: center;
    font-family: tahoma;
    font-weight: 500;
}


/* 公共模块 */

.ty-qfjh-mod1 {
    padding: 70px 0;
    border-bottom: 1px solid #d0d0d0;
}

.ty-qfjh-mod1 .title {
    width: 493px;
    height: 32px;
    padding-left: 35px;
    border-bottom: 1px solid #f3f3f3;
}

.ty-qfjh-mod1 .img {
    float: left;
}

.ty-qfjh-mod1 .text {
    float: left;
    width: 670px;
    padding-right: 10px;
}

.ty-qfjh-mod1 .text h2 {
    position: relative;
    top: 1px;
    padding-bottom: 10px;
    padding-left: 28px;
    color: #000;
    font-size: 22px;
    line-height: 22px;
    float: left;
    background: url(../images/ty/bg-title.png) no-repeat;
}

.ty-qfjh-mod1 .text p {
    color: #616161;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    padding-left: 35px;
}

.ty-qfjh-mod1 .xmList {
    margin-top: 56px;
    text-align: left;
    overflow: hidden;
}

.ty-qfjh-mod1 .xmList li {
    float: left;
    margin-left: 32px;
    margin-top: 32px;
    padding: 8px;
    border: 1px solid #e4e9ef;
}

.ty-qfjh-mod1 .xmList li:hover {
    border: 1px solid #25b2da;
}

.ty-qfjh-mod1 .xmList li a:hover {
    text-decoration: none;
}

.ty-qfjh-mod1 .xmList p {
    color: #949a9a;
    font-size: 14px;
}

.ty-qfjh-mod1 .xmList .txt {
    position: relative;
    padding: 10px 0 20px 0;
    line-height: 22px;
}

.ty-qfjh-mod1 .xmList .txt img {
    vertical-align: middle;
    margin-right: 5px;
}

.ty-qfjh-mod1 .xmList .txt .dz {
    position: absolute;
    right: 0;
    top: 18px;
}

.ty-qfjh-mod1 .mtag {
    padding-bottom: 20px;
}


/*================= E 青锋计划  =================*/



/*================= S 个人中心  =================*/

.ty-grzx-bd input[type='text'], .ty-grzx-bd textarea{
    padding: 0 10px;
    line-height: 40px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-size: 16px;
}
.ty-grzx-bd textarea{
    line-height: 1.5;
    padding: 10px;
}

/* 投资人信息 */
.ty-tzrInfo{}
.ty-tzrInfo .pic{
    margin-right: 30px;
}
.ty-tzrInfo .title{}
.ty-tzrInfo .title h2{
    float: left;
    margin-right: 10px;
    font-size: 34px;
    font-weight: normal;
}
.ty-tzrInfo .title span{
    float: left;
    display: inline-block;
    margin: 15px 5px 0 0;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #349aff;
}
.ty-tzrInfo .text p{
    padding: 16px 0;
    font-size: 16px;
    color: #616161;
}
.ty-tzrInfo .text .tag{
    height: 16px;
    line-height: 16px;
    padding-left: 22px;
    color: #939a9a;
    background: url(../images/ty/bg-tag.jpg) no-repeat;
}
.ty-tzrInfo .text .m-fx{
    margin-top: 16px;
}
.ty-tzrInfo .right{
    position: absolute;
    right: 20px;
    top: 20px;
    margin-left: 135px;
    margin-top: 10px;
}
.ty-tzrInfo .right .m-fx2{
    float: left;
}
.ty-tzrInfo .right p{
    line-height: 40px;
}
.ty-tzrInfo .right .btn{
    margin-top: 40px;
}
.ty-tzrInfo .right .btn .m-btn{
    margin-left: 20px;
}

/* 投资案例 */
.ty-tzal{}
.ty-tzal .bd{
    padding: 40px;
    padding-top: 17px;
}
.ty-tzal .alListBox{
    height: 600px;
    overflow: hidden;
}
.ty-tzal .alList{}
.ty-tzal .alList li{
    position: relative;
    padding-left: 127px;
    padding-top: 25px;
    height: 125px;
    background: url(../images/ty/bg-anList.png) no-repeat;
}
.ty-tzal .alList .orange{
    background-position: 0 0;
}
.ty-tzal .alList .blue{
    background-position: 0 -150px;
}
.ty-tzal .alList .green{
    background-position: 0 -300px;
}
.ty-tzal .alList .yellow{
    background-position: 0 -450px;
}
.ty-tzal .alList .date{
    position: absolute;
    top: 45px;
    left: 0;
    width: 90px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.ty-tzal .alList .pic{
    margin-right: 15px;
}
.ty-tzal .alList .pic img{
    width: 70px;
    height: 70px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
.ty-tzal .alList .text h2{
    font-size: 16px;
    color: #000;
}
.ty-tzal .alList .text p{
    padding: 10px 0;
    font-size: 16px;
    color: #939a9a;
}
.ty-tzal .open{
    text-align: right;
}
.ty-tzal .open a{
    display: inline-block;
    padding-right: 25px;
    font-size: 14px;
    color: #349aff;
    background: url(../images/ty/bg-arrow.png) right center no-repeat;
}

/* 创业经历 */
.ty-cyjl .bd{
    padding: 40px;
    padding-bottom: 20px;
}
.ty-cyjl .m-picText{
    margin-bottom: 20px;
}
.ty-cyjl .pic{
    margin-right: 40px;
}
.ty-cyjl .pic img{
    border-radius: 5px;
    border: 1px solid #d0d0d0;
}
.ty-cyjl .text h2{
    color: #000;
}
.ty-cyjl .text p{
    padding: 10px 0;
}
.ty-cyjl .text {
    color: #939a9a;
}

/* 工作经历 */
.ty-gzjl .bd{
    padding: 40px;
    padding-bottom: 20px;
}
.ty-gzjl .m-picText{
    margin-bottom: 20px;
}
.ty-gzjl .pic{
    margin-right: 40px;
}
.ty-gzjl .pic img{
    border-radius: 5px;
    border: 1px solid #d0d0d0;
}
.ty-gzjl .text h2{
    color: #000;
}
.ty-gzjl .text p{
    padding: 10px 0;
}
.ty-cyjl .text {
    color: #939a9a;
}

/* 重要信息 */
.ty-zyxx ul{}
.ty-zyxx li{
    overflow: hidden;
    padding: 0 5px;
    line-height: 30px;
    color: #939a9a;
    font-size: 14px;
}
.ty-zyxx li:nth-child(odd){
    background-color: #e8f4ff;
}
.ty-zyxx li:nth-child(even){
    background-color: #f5f5f5;
}
.ty-zyxx li .tit{
    float: left;
}
.ty-zyxx li .cnt{
    float: right;
}
.ty-zyxx li.last{
    line-height: 40px;
    border-top: 1px dotted #d0d0d0;
}

.ty-fdxmList{
    overflow: hidden;
    margin-left: -20px;
}
.ty-fdxmList li{
    margin-left: 18px;
    float: left;
    width: 80px;
    height: 122px;
    text-align: center;
    color: #616161;
}



.ty-edit {
    display: inline-block;
    width: 22px;
    height: 20px;
    background: url(../images/ty/edit.png) no-repeat;
}
.ty-tzrInfo .ty-edit{
    position: relative;
    top: 10px;
}
.ty-add{}
.ty-add a{
    display: block;
    height: 73px;
    line-height: 73px;
    border: 1px dotted #bedfff;
    background-color: #f3f9ff;
    color: #8dc6ff;
    text-align: center;
}
.ty-add span{
    display: inline-block;
    padding-left: 57px;
    background: url(../images/ty/add.png) left center no-repeat;
}
.ty-zyxx .ty-edit{
    position: relative;
    top: 15px;
}


/* 编辑投资人信息 */
.re-text{
    color: #f08519;
}
.ty-tzrInfo-edit{
    overflow: hidden;
}
.ty-tzrInfo-edit .lpic{
    float: left;
    margin-left: 106px;
    width: 226px;
}
.ty-tzrInfo-edit .lpic img{
    border-radius: 5px;
    margin-bottom: 10px;
}
.ty-tzrInfo-edit .lpic .m-btn{
    width: 118px;
}
.ty-tzrInfo-edit .rform{
    float: left;
    width: 638px;
}
.ty-tzrInfo-edit .rform input[type='text'], .ty-tzrInfo-edit .rform textarea{
    box-sizing: border-box;
    width: 100%;
}
.ty-tzrInfo-edit .m-form .lab{
    width: 120px;
    margin-right: -120px;
    font-weight: 500;
}
.ty-tzrInfo-edit .m-form .formitm{
    line-height: 40px;
}
.ty-tzrInfo-edit .m-form .ipt{
    margin-left: 140px;
}
.ty-tzrInfo-edit .al{
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.ty-tzrInfo-edit .al .pic img{
    width: 70px;
    height: 70px;
}
.ty-tzrInfo-edit .checkboxList{
    overflow: hidden;
}
.ty-tzrInfo-edit .checkboxList li{
    float: left;
    width: 33.333%;
    font-size: 14px;
}
.ty-tzrInfo-edit .tijiao .m-btn{
    color: #fff;
}


.ty-zyxx-form input[type='text']{
    display: inline-block;
    width: 75px;
}
.ty-zyxx-form .item{
    margin-bottom: 20px;
}
.ty-zyxx-form .rd{
    line-height: 30px;
    display: inline-block;
    width: 40%;
}
.ty-zyxx-form .tit{
    margin-top: 10px;
    color: #616161;
}
.ty-zyxx-form .cnt{
    margin-top: 10px;
}
.ty-zyxx-form .szd select{
    width: 30%;
    margin-right: 5px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.ty-select{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}


.ty-cyjlForm .lab{
    width: 120px;
    margin-right: -120px;
}
.ty-cyjlForm .ipt{
    margin-left: 140px;
}
.ty-cyjlForm a.m-btn{
    color: #fff !important;
}


.ty-imgUpLoad{
    position: relative;
    width: 160px;
    height: 120px;
    background: url(../images/ty/bg-upload.jpg) no-repeat;
}
.ty-imgUpLoad img.tupian{
    width: 100%;
    height: 120px;
    margin: 0;
}
.ty-imgUpLoad .file{
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 120px;
    opacity: 0;
}

.ty-cyjl .other{
    padding: 20px;
    border-top: 1px dotted #d3d3d3;
}
.ty-cyjl .other .m-picText{
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
.ty-cyjl .other .pic{
    margin-right: 20px;
}
.ty-cyjl .other .text p{
    padding-bottom: 0;
}
.ty-cyjl .other .m-picText .edit{
    position: absolute;
    right: 71px;
    top: 20px;
    width: 22px;
    height: 20px;
    background: url(../images/ty/bg-edit1.png) no-repeat;
}
.ty-cyjl .other .m-picText .close{
    position: absolute;
    right: 21px;
    top: 21px;
    width: 18px;
    height: 18px;
    background: url(../images/ty/bg-close1.png) no-repeat;
}
.ty-cyjl .other .bg1{
    background-color: #f6f6f6;
}
/*================= E 个人中心  =================*/


/*================= S 创业者  =================*/

/* 首页 */
.ty-cyz{
    margin-top: 78px;
}
.ty-cyz .section1{
    width: 648px;
    margin: 0 auto;
    text-align: center;
}
.ty-cyz .section1 h2{
    font-size: 62px;
    color: #349aff;
    font-weight: normal;
}
.ty-cyz .section1 h3{
    padding: 30px 0;
    font-size: 28px;
    color: #2c2d32;
    font-weight: normal;
}
.ty-cyz .section1 p{
    font-size: 24px;
    color: #616161;
    font-family: Tahoma;
}


.ty-cyz .section2{
    width: 1117px;
    margin: 56px auto 0;
}
.ty-cyz .section2 .w613{
    position: relative;
    width: 613px;
    height: 238px;
    float: left;
}
.ty-cyz .section2 .w238{
    position: relative;
    width: 238px;
    height: 238px;
    float: left;
}
.ty-cyz .section2 .mr14{
    margin-right: 14px;
}
.ty-cyz .section2 .c1{ background-color: #6a77f3;}
.ty-cyz .section2 .c2{ background-color: #97afca;}
.ty-cyz .section2 .c3{ background-color: #ffad1d;}
.ty-cyz .section2 .c4{ background-color: #40c69b;}
.ty-cyz .section2 .c5{ background-color: #fe6b37;}
.ty-cyz .section2 .c6{ background-color: #349aff;}
.ty-cyz .section2 .default{
    padding-top: 135px;
    color: #fff;
    text-align: center;
    background: center 40px no-repeat;
}
.ty-cyz .section2 .default h2{
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: normal;
}
.ty-cyz .section2 .default p{
    font-size: 14px;
}
.ty-cyz .section2 .active{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c2d32 left top no-repeat;
    color: #fff;
    text-align: center;
}
.ty-cyz .section2 .active h2{
    margin-top: 77px;
    margin-bottom: 44px;
    font-weight: normal;
    font-size: 34px;
}
.ty-cyz .section2 .active a{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    line-height: 44px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.ty-cyz .section2 .active .w1{
    width: 253px;
}
.ty-cyz .section2 .active .w2{
    width: 165px;
}


.ty-cyz .section2 .default1{ background-image: url(../images/ty/df1.png);}
.ty-cyz .section2 .default2{ background-image: url(../images/ty/df2.png);}
.ty-cyz .section2 .default3{ background-image: url(../images/ty/df3.png); background-position: center 30px;}
.ty-cyz .section2 .default4{ background-image: url(../images/ty/df4.png);}
.ty-cyz .section2 .default5{ background-image: url(../images/ty/df5.png);}
.ty-cyz .section2 .default6{ background-image: url(../images/ty/df6.png);}
.ty-cyz .section2 .active1{ background-image: url(../images/ty/bg-ac1.jpg);}
.ty-cyz .section2 .active2{ background-image: url(../images/ty/bg-ac2.jpg);}
.ty-cyz .section2 .active3{ background-image: url(../images/ty/bg-ac3.jpg);}
.ty-cyz .section2 .active4{ background-image: url(../images/ty/bg-ac4.jpg);}
.ty-cyz .section2 .active5{ background-image: url(../images/ty/bg-ac5.jpg);}
.ty-cyz .section2 .active6{ background-image: url(../images/ty/bg-ac6.jpg);}


.ty-cyz .section3{
    margin: 62px auto 0;
    width: 613px;
}
.ty-cyz .section3 ul{
    overflow: hidden;
}
.ty-cyz .section3 img{
    margin-bottom: 18px;
}
.ty-cyz .section3 li{
    float: left;
    width: 33.333%;
    text-align: center;
    color: #5f6872;
    font-size: 18px;
}

.ty-cyz .section4{
    width: 685px;
    margin: 40px auto 0;
    text-align: center;
}
.ty-cyz .section4 h2{
    font-size: 28px;
    color: #48586f;
    font-weight: normal;
}
.ty-cyz .section4 p{
    margin: 22px 0 60px 0;
    font-size: 24px;
    color: #48586f;
    text-transform: uppercase;
}
.ty-cyz .section4 .btn{}
.ty-cyz .section4 .btn a{
    display: inline-block;
    width: 323px;
    height: 55px;
    line-height: 55px;
    border-radius: 3px;
    background-color: #349aff;
    font-size: 28px;
    color: #fff;
}
/*================= E 创业者  =================*/


/* upload插件 */
#uploader .filelist li img{
    height: auto !important;
    margin: 0 !important;
}

/* 字数限制 */
.j-maxLen{
    position: relative;
}
.j-maxLen span{
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 12px;
    color: #e5e5e5;
}


















