/*================= S tony公共部分  =================*/


.f-fs12{
    font-size: 12px;
}
.f-lhn{
    line-height: normal;
}
.f-mt30{
    margin-top: 30px;
}
.f-br3{
    border-radius: 3px;
}

.m-picText{overflow: hidden;}

/* 颜色 */
.c-gray{
    color: #939a9a;
}

/* 按钮 */
.m-btn{
    display: inline-block;
    min-width: 64px;
    padding: 12px;
    border-radius: 3px;
    font-size: 16px;    
    color: #fff;
    text-align: center;
}
.m-btn-primary{
    background-color: #349aff;
}
.m-btn:hover{
    color: #fff;
    text-decoration: none;
}
.m-btn-primary:hover{
    background-color: #2e8ae5;
}


.m-w840{
    width: 840px;
}
.m-w320{
    width: 320px;
}

/* 通用容器 */
.m-box{
    background-color: #fff;
    border: 1px solid #d0d0d0;
}
.m-box .hd{
    padding: 0 40px;
    height: 45px;
    line-height: 45px;
}
.m-box .hd .tit{
    position: relative;
    float: left;
    padding-left: 32px;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    background: url(../images/ty/icon-bg.png) no-repeat;
}
.m-box .hd .tit:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 2px solid #349aff;
}
.m-box .hd .tit.icon2{
    background-position: 0 -45px;
}
.m-box .hd .tit.icon3{
    background-position: 0 -90px;
}
.m-box .hd .num{
    float: left;
    display: inline-block;
    line-height: normal;
    padding:2px 6px;
    border-radius: 3px;
    margin: 12px 0 0 10px;
    font-size: 14px;
    color: #fff;
    background-color: #ffad1d;

}
.m-box .hd .more{
    float: right;
}
.m-box .hd.p20{
    padding: 0 20px;
}
.m-box .bd{
    padding: 20px;
    border-top: 1px solid #d0d0d0;
}
.m-box.tab .hd{
    padding: 0;
}
.m-box.tab .hd .tit{
    padding: 0 20px;
    background: none;
    border-right: 1px solid #d0d0d0;
    cursor: pointer;
}
.m-box.tab .hd :after{
    border:none;
}
.m-box.tab .hd .active:after{
    border-bottom: 1px solid #fff;
}
.m-box .nobd{border: none;}

/* 分享 */
.m-fx{}
.m-fx a{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(../images/ty/bg-share.png) no-repeat;
}
.m-fx .wx{
    background-position: 0 0;
}
.m-fx .qq{
    background-position: 0 -20px;
}
.m-fx .wb{
    background-position: 0 -40px;
}

/* 分享2 */
.m-fx2{}
.m-fx2 li{
    float: left;
    margin-right: 10px;
    
}
.m-fx2 a{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/ty/bg-share2.png) no-repeat;
}
.m-fx2 .wb{
    background-position: 0 0;
}
.m-fx2 .qq{
    background-position: 0 -40px;
}
.m-fx2 .wx{
    background-position: 0 -80px;
}
.m-fx2 .sx{
    background-position: 0 -120px;
}

/*================= E tony公共部分  =================*/


/*================= S 首页  =================*/


/* 先锋榜 */

.ty-zcxfb {
    float: left;
    width: 843px;
    height: 445px;
}

.ty-zcxfb .m-msgBox .bd {
    padding-top: 30px;
    padding-right: 30px;
    height: 373px;
}

.ty-zcxfb .tabs-nav {
    margin-right: 26px;
    float: left;
    width: 124px;
    border-right: 1px solid #d0d0d0;
}

.ty-zcxfb .tabs-nav li {
    position: relative;
}

.ty-zcxfb .tabs-nav a {
    position: relative;
    right: -1px;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    border-right: 4px solid transparent;
    color: #616161;
}

.ty-zcxfb .tabs-nav a:hover,
.ty-zcxfb .tabs-nav .active a {
    border-right: 4px solid #4285f4;
    color: #4285f4;
}

.ty-zcxfb .tab-panel {
    float: left;
    width: 660px;
    display: none;
}

.ty-zcxfb .tab-panel .firstNews {
    height: 140px;
    margin-bottom: 36px;
}

.ty-zcxfb .tab-panel .firstNews .img {
    float: left;
    margin-right: 18px;
}

.ty-zcxfb .tab-panel .firstNews .text {
    overflow: hidden;
}

.ty-zcxfb .tab-panel .firstNews .text h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}

.ty-zcxfb .tab-panel .firstNews .text h3 a {
    color: #2c2d32;
}

.ty-zcxfb .tab-panel .firstNews .text p {
    font-size: 14px;
    line-height: 24px;
    color: #616161;
}

.ty-zcxfb .tab-panel .list2 {}

.ty-zcxfb .tab-panel .list2 li {
    float: left;
    width: 50%;
}

.ty-zcxfb .tab-panel .list2 a {
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #2c2d32;
    border-left: 4px solid transparent;
}

.ty-zcxfb .tab-panel .list2 a:hover {
    border-left: 4px solid #349aff;
    color: #349aff;
}

.ty-zcxfb .tab-panel .list2 li span {
    display: inline-block;
    padding: 0 30px 0 14px;
    font-size: 22px;
    font-style: italic;
}

.ty-zcxfb .firstNews .text .tag {
    line-height: 26px;
    margin-top: 15px;
}

.ty-zcxfb .firstNews .text .fx {
    line-height: 30px;
    font-size: 14px;
    color: #939a9a;
}

.ty-zcxfb .firstNews .text .fx ul {
    float: right;
}

.ty-zcxfb .firstNews .text .fx ul li {
    float: left;
    text-align: right;
}

.ty-zcxfb .firstNews .text .fx ul li a {
    color: #939a9a;
}

.ty-zcxfb .firstNews .text .fx .xin1 {
    padding-left: 20px;
    padding-right: 20px;
    background: url(../images/xin.png) left center no-repeat;
}

.ty-zcxfb .firstNews .text .fx .xin2 {
    padding-left: 20px;
    background: url(../images/xin2.png) left 6px no-repeat;
    padding-right: 24px;
}

.ty-zcxfb .tijiao {
    margin-top: 10px;
    text-align: right;
}

.ty-zcxfb .tijiao a {
    font-size: 16px;
    color: #349aff;
}


/* 先锋资讯 */

.ty-xfzx {
    float: right;
    width: 330px;
    margin-bottom: 20px;
    color: #616161;
}

.ty-xfzx .m-msgBox .bd {
    padding: 10px;
    border-bottom: 1px dotted #d4d8e0;
}

.ty-xfzx .m-msgBox .ft {
    padding: 10px;
}

.ty-xfzx .m-msgBox .ft li {
    line-height: 28px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ty-xfzx .m-msgBox .ft li a {
    color: #616161;
    font-size: 14px;
}

.ty-xfzx .m-picText {
    height: 80px;
}

.ty-xfzx .m-picText .text h3 {
    font-size: 16px;
    color: #2c2d32;
    margin-bottom: 6px;
    font-weight: 500;
}

.ty-xfzx .m-picText .text p {
    font-size: 14px;
    line-height: 18px;
    color: #616161;
}


/* 项目动态 */

.ty-xmdt {
    float: right;
    width: 330px;
    background-color: #fff;
    color: #616161;
}

.ty-xmdt .m-msgBox .bd {
    padding: 10px;
    height: 142px;
    overflow: hidden;
}

.ty-xmdt .scrollBox {
    position: relative;
    height: 144px;
    overflow: hidden;
}

.ty-xmdt ul {
    position: absolute;
    margin-left: 8px;
    border-left: 1px solid #e9ebef;
}

.ty-xmdt li {
    position: relative;
    height: 77px;
    padding-left: 15px;
}

.ty-xmdt .dot {
    position: absolute;
    left: -5px;
    top: 4px;
    width: 10px;
    height: 10px;
    background: url(../images/dot.png) no-repeat;
}

.ty-xmdt .time {
    margin-bottom: 5px;
    font-size: 12px;
    color: #949a9a;
}

.ty-xmdt .text {
    line-height: 20px;
    font-size: 14px;
    color: #616161;
}


/* 合作伙伴 */

.ty-hzhb {}

.ty-hzhb .m-msgBox .hd {
    padding: 0;
}

.ty-hzhb .m-msgBox .hd h2 {
    position: relative;
    float: left;
    padding: 0 30px;
    cursor: pointer;
    border-right: 1px solid #e2e3e3;
}

.ty-hzhb .m-msgBox .hd .active:after {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.ty-hzhb .m-msgBox .bd {
    padding: 20px;
    height: 90px;
}

.ty-hzhb .m-msgBox .bd .item {
    display: none;
}

.ty-hzhb ul {
    margin-left: 6px;
    width: 1170px;
    overflow: hidden;
}

.ty-hzhb ul li {
    float: left;
    margin-right: 22px;
    border: 1px solid #e9eaec;
}

.ty-hzhb .link a {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #616161;
}


/* banner */

.d-bs {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.d-bn-box {
    width: 100%;
    height: 202px;
    background: url(../images/d-banner-bg.png) no-repeat center center / 100% 100%;
    margin-bottom: 30px;
}

.d-bn-con {
    width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    font-size: 14px;
    height: 100%;
}

.d-bn-con .d-bn-l {
    padding-top: 20px;
}

.d-bn-con .d-bn-l h2 {
    color: #fff;
    font-size: 32px;
    padding-bottom: 6px;
}

.d-bn-con .d-bn-l p {
    color: #fff;
}

.d-bn-con .d-bn-l .btn-box {
    padding-top: 30px;
}

.d-bn-con .d-bn-l .btn-box .a1 {
    display: block;
    width: 174px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    color: #616161;
    font-size: 20px;
    float: left;
}

.d-bn-con .d-bn-l .btn-box .a2 {
    color: #fff;
    font-size: 16px;
    line-height: 65px;
    margin-left: 23px;
}

.d-bn-con .d-bn-l .btn-box a:hover {
    text-decoration: none;
}

.d-bn-con .d-bn-r {
    overflow: hidden;
    width: 330px;
    background: rgba(44, 45, 50, 0.75);
    color: #fff;
    height: 100%;
    padding: 5px 20px;
}

.d-bn-con .d-bn-r a {
    color: #fff;
}

.d-bn-con .d-bn-r h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    line-height: 53px;
    border-bottom: 1px solid #a7a2a2;
}

.d-bn-con .d-bn-r h4 a {
    font-size: 14px;
    float: right;
}

.d-bn-con .d-bn-r ul li {
    position: relative;
    padding-left: 11px;
}

.d-bn-con .d-bn-r ul li:after {
    content: "·";
    color: #fff;
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.d-bn-con .d-bn-r ul li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 13px;
}


/* 创投服务 */

.d-fw {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #e2e3e3;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.d-fw .d-fw-tit {
    border-bottom: 1px solid #E2E3E3;
    line-height: 42px;
    font-size: 18px;
    color: #616161;
    overflow: hidden;
}

.d-fw .d-fw-tit em {
    display: block;
    width: 20px;
    height: 23px;
    background: url(../images/d-ico1.png) no-repeat center center;
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    margin-right: 15px;
}

.d-fw .d-fw-box {
    padding: 85px 0;
}

.d-fw .d-fw-box>div {
    width: 33.3%;
    text-align: center;
}

.d-fw .d-fw-box .d-fw-l,
.d-fw .d-fw-box .d-fw-r {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px dashed #349afe;
    background: #ddecfb;
    padding-top: 26px;
    margin: 0 130px;
    position: relative;
    cursor: pointer;
}

.d-fw .d-fw-box .d-fw-l img,
.d-fw .d-fw-box .d-fw-r img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.d-fw .d-fw-box .d-fw-l:after {
    content: "";
    display: block;
    width: 168px;
    height: 1px;
    background: url(../images/border-bg.png) no-repeat center center;
    position: absolute;
    left: 167px;
    top: 70px;
}

.d-fw .d-fw-box .d-fw-r:after {
    content: "";
    display: block;
    width: 168px;
    height: 1px;
    background: url(../images/border-bg.png) no-repeat center center;
    position: absolute;
    right: 167px;
    top: 70px;
}

.d-fw .d-fw-box .d-fw-c {
    height: 140px;
    line-height: 140px;
    position: relative;
}

.d-fw .d-fw-box .d-fw-c img {
    display: inline-block;
    vertical-align: middle;
}

.d-fw .d-fw-box .d-fw-c:after {
    content: "";
    display: block;
    width: 34px;
    height: 120px;
    background: url(../images/d-fw-img5.png) no-repeat center center;
    position: absolute;
    left: 100px;
    top: 11px;
}

.d-fw .d-fw-box .d-fw-c:before {
    content: "";
    display: block;
    width: 34px;
    height: 120px;
    background: url(../images/d-fw-img4.png) no-repeat center center;
    position: absolute;
    right: 100px;
    top: 11px;
}

.d-fw .d-fw-tc {
    display: none;
    width: 400px;
    height: 277px;
    background: #ddecfb;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: 27px;
}

.d-fw .d-fw-tc a:hover {
    text-decoration: none;
}

.d-fw .d-fw-tc .d-fw-a {
    padding: 18px 16px;
    padding-bottom: 0;
}

.d-fw .d-fw-tc .d-fw-a>div {
    width: 33.3%;
    float: left;
    text-align: center;
    margin-bottom: 18px;
    position: relative;
}

.d-fw .d-fw-tc .d-fw-a a {
    color: #32618e;
    text-align: center;
}

.d-fw .d-fw-tc .d-fw-a a:hover {
    text-decoration: none;
}

.d-fw .d-fw-tc .d-fw-a em {
    display: block;
    width: 57px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    border-radius: 100%;
    border: 1px dashed #32618e;
    margin: auto;
    transition: all .6s;
    -webkit-transition: all .6s;
}

.d-fw .d-fw-tc .d-fw-a em img {
    vertical-align: middle;
}

.d-fw .d-fw-tc .d-fw-a span {
    display: block;
    padding-top: 4px;
}

.d-fw .d-fw-tc .d-fw-a>div.active em {
    opacity: .3;
}

.d-fw .d-fw-tc .d-fw-a>div.active span {
    opacity: .3;
}

.d-fw .d-fw-tc .d-fw-a>div.active:after {
    content: "敬请期待";
    display: block;
    width: 100%;
    height: 82px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 64px;
    color: #32618e;
}

.d-fw .d-fw-tc .d-fw-a .v1 a em {
    background: url(../images/d-f-ico1.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v2 a em {
    background: url(../images/d-f-ico2.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v3 a em {
    background: url(../images/d-f-ico3.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v4 a em {
    background: url(../images/d-f-ico4.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v5 a em {
    background: url(../images/d-f-ico5.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v6 a em {
    background: url(../images/d-f-ico6.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a a em:hover {
    background: #32618e;
}

.d-fw .d-fw-tc .d-fw-a .v1 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico1-1.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v2 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico2-2.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v3 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico3-3.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v4 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico4-4.png) no-repeat center center;
}

.d-fw .d-fw-tc .d-fw-a .v5 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico5-5.png) no-repeat center center;
}

.d-fw .d-fw-tc>a {
    display: block;
    width: 293px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #32618e;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #32618e;
    margin: auto;
}

.d-fw .d-fw-tc>a:hover {
    background: #32618e;
    color: #fff;
}

.d-fw .d-fw-tc2 {
    right: 27px;
    left: auto;
}

.d-fw .d-fw-tc2 .d-fw-a {
    padding-top: 45px;
}

.d-fw .d-fw-tc2 .d-fw-a .v1 a em {
    background: url(../images/d-f-ico7.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v2 a em {
    background: url(../images/d-f-ico8.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v3 a em {
    background: url(../images/d-f-ico9.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v4 a em {
    background: url(../images/d-f-ico10.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v5 a em {
    background: url(../images/d-f-ico11.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v6 a em {
    background: url(../images/d-f-ico12.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v1 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico7-7.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v2 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico8-8.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v3 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico9-9.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v4 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico10-10.png) no-repeat center center;
}

.d-fw .d-fw-tc2 .d-fw-a .v5 a:hover em {
    background: #32618e;
    background: #32618e url(../images/d-f-ico11-11.png) no-repeat center center;
}


/*================= E 首页  =================*/


/*================= S 青锋计划  =================*/


/* banner */

.ty-qfjh-banner {
    height: 360px;
    border-bottom: 1px solid #d0d0d0;
    background: url(../images/ty/qfjh-banner-bg.jpg) center no-repeat;
}

.ty-qfjh-banner .count {
    position: absolute;
    top: 82px;
    right: 20px;
    width: 330px;
}

.ty-qfjh-banner p {
    font-size: 16px;
    color: #fff;
}

.ty-qfjh-banner ul {
    overflow: hidden;
    margin: 10px 0;
}

.ty-qfjh-banner li {
    float: left;
    margin-right: 5px;
    width: 40px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    background-color: #fff;
    border: 1px solid #798085;
    border-radius: 5px;
    text-align: center;
    font-family: tahoma;
    font-weight: 500;
}


/* 公共模块 */

.ty-qfjh-mod1 {
    padding: 70px 0;
    border-bottom: 1px solid #d0d0d0;
}

.ty-qfjh-mod1 .title {
    width: 493px;
    height: 32px;
    padding-left: 35px;
    border-bottom: 1px solid #f3f3f3;
}

.ty-qfjh-mod1 .img {
    float: left;
}

.ty-qfjh-mod1 .text {
    float: left;
    width: 670px;
    padding-right: 10px;
}

.ty-qfjh-mod1 .text h2 {
    position: relative;
    top: 1px;
    padding-bottom: 10px;
    padding-left: 28px;
    color: #000;
    font-size: 22px;
    line-height: 22px;
    float: left;
    background: url(../images/ty/bg-title.png) no-repeat;
}

.ty-qfjh-mod1 .text p {
    color: #616161;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    padding-left: 35px;
}

.ty-qfjh-mod1 .xmList {
    margin-top: 56px;
    text-align: left;
    overflow: hidden;
}

.ty-qfjh-mod1 .xmList li {
    float: left;
    margin-left: 32px;
    margin-top: 32px;
    padding: 8px;
    border: 1px solid #e4e9ef;
}

.ty-qfjh-mod1 .xmList li:hover {
    border: 1px solid #25b2da;
}

.ty-qfjh-mod1 .xmList li a:hover {
    text-decoration: none;
}

.ty-qfjh-mod1 .xmList p {
    color: #949a9a;
    font-size: 14px;
}

.ty-qfjh-mod1 .xmList .txt {
    position: relative;
    padding: 10px 0 20px 0;
    line-height: 22px;
}

.ty-qfjh-mod1 .xmList .txt img {
    vertical-align: middle;
    margin-right: 5px;
}

.ty-qfjh-mod1 .xmList .txt .dz {
    position: absolute;
    right: 0;
    top: 18px;
}

.ty-qfjh-mod1 .mtag {
    padding-bottom: 20px;
}


/*================= E 青锋计划  =================*/



/*================= S 个人中心  =================*/

/* 投资人信息 */
.ty-tzrInfo{}
.ty-tzrInfo .pic{
    margin-right: 30px;
}
.ty-tzrInfo .title{}
.ty-tzrInfo .title h2{
    float: left;
    margin-right: 10px;
    font-size: 34px;
    font-weight: normal;
}
.ty-tzrInfo .title span{
    float: left;
    display: inline-block;
    margin: 15px 5px 0 0;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #349aff;
}
.ty-tzrInfo .text p{    
    padding: 16px 0;
    font-size: 16px;
    color: #616161;
}
.ty-tzrInfo .text .tag{
    height: 16px;
    line-height: 16px;
    padding-left: 22px;
    color: #939a9a;
    background: url(../images/ty/bg-tag.jpg) no-repeat;
}
.ty-tzrInfo .text .m-fx{
    margin-top: 16px;
}
.ty-tzrInfo .right{
    float: left;
    margin-left: 135px;
    margin-top: 10px; 
}
.ty-tzrInfo .right .m-fx2{
    float: left;
}
.ty-tzrInfo .right p{
    line-height: 40px;
}
.ty-tzrInfo .right .btn{
    margin-top: 40px;
}
.ty-tzrInfo .right .btn .m-btn{
    margin-left: 20px;
}

/* 投资案例 */
.ty-tzal{}
.ty-tzal .bd{
    padding: 40px;
    padding-top: 17px;
}
.ty-tzal .alList{}
.ty-tzal .alList li{
    position: relative;
    padding-left: 127px;
    padding-top: 25px;
    height: 125px;
    background: url(../images/ty/bg-anList.png) no-repeat;
}
.ty-tzal .alList .orange{
    background-position: 0 0;
}
.ty-tzal .alList .blue{
    background-position: 0 -150px;
}
.ty-tzal .alList .green{
    background-position: 0 -300px;
}
.ty-tzal .alList .yellow{
    background-position: 0 -450px;
}
.ty-tzal .alList .date{
    position: absolute;
    top: 45px;
    left: 0;
    width: 90px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.ty-tzal .alList .pic{
    margin-right: 15px;
}
.ty-tzal .alList .pic img{
    width: 70px;
    height: 70px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
.ty-tzal .alList .text h2{
    font-size: 16px;
    color: #000;
}
.ty-tzal .alList .text p{
    padding: 10px 0;
    font-size: 16px;
    color: #939a9a;
}
.ty-tzal .open{
    text-align: right;    
}
.ty-tzal .open a{
    display: inline-block;
    padding-right: 25px;
    font-size: 14px;
    color: #349aff;
    background: url(../images/ty/bg-arrow.png) right center no-repeat;
}

/* 创业经历 */
.ty-cyjl .bd{
    padding: 40px;
    padding-bottom: 20px;
}
.ty-cyjl .m-picText{
    margin-bottom: 20px;
}
.ty-cyjl .pic{
    margin-right: 40px;
}
.ty-cyjl .pic img{
    border-radius: 5px;
    border: 1px solid #d0d0d0;
}
.ty-cyjl .text h2{
    color: #000;
}
.ty-cyjl .text p{
    padding: 10px 0;
}
.ty-cyjl .text {
    color: #939a9a;
}

/* 工作经历 */
.ty-gzjl .bd{
    padding: 40px;
    padding-bottom: 20px;
}
.ty-gzjl .m-picText{
    margin-bottom: 20px;
}
.ty-gzjl .pic{
    margin-right: 40px;
}
.ty-gzjl .pic img{
    border-radius: 5px;
    border: 1px solid #d0d0d0;
}
.ty-gzjl .text h2{
    color: #000;
}
.ty-gzjl .text p{
    padding: 10px 0;
}
.ty-cyjl .text {
    color: #939a9a;
}

/* 重要信息 */
.ty-zyxx ul{}
.ty-zyxx li{
    overflow: hidden;
    padding: 0 5px;
    line-height: 30px;
    color: #939a9a;
    font-size: 14px;
}
.ty-zyxx li:nth-child(odd){
    background-color: #e8f4ff;
}
.ty-zyxx li:nth-child(even){
    background-color: #f5f5f5;
}
.ty-zyxx li .tit{
    float: left;
}
.ty-zyxx li .cnt{
    float: right;
}
.ty-zyxx li.last{
    line-height: 40px;
    border-top: 1px dotted #d0d0d0;
}

.ty-fdxmList{
    overflow: hidden;
    margin-left: -20px;
}
.ty-fdxmList li{
    margin-left: 18px;
    float: left;
    width: 80px;
    height: 122px;
    text-align: center;
    color: #616161;
}

/*================= E 个人中心  =================*/
